<div id="auth" style="padding-top: 90px; padding-bottom: 150px;">
    <div class="auth-content mx-auto">
        <h2 class="text-center fw-bold">新規会員登録</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>    
            <div class="mt-3">
                <%= f.text_field :user_name, class: "form-control", autofocus: true, autocomplete: "user_name", placeholder: "ユーザー名", "aria-label": "ユーザー名", "aria-describedby": "addon-wrapping" %>
                
                <div>
                    <% resource.errors[:user_name].each do |error| %>
                        <small class="text-danger">ユーザー名<%= error %></small>
                    <% end %>
                </div>
            </div>

            <div class="mt-3">
                <%= f.select :gender, [['男性', 1], ['女性', -1]], { include_blank: '性別を選択 ▾' }, class: 'form-control' %>

                <div>
                    <% resource.errors[:gender].each do |error| %>
                        <small class="text-danger">性別を入力してください。</small>
                    <% end %>
                </div>
            </div>

            <div class="mt-3">
                <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "メールアドレス", "aria-describedby": "addon-wrapping" %>

                <div>
                    <% resource.errors[:email].each do |error| %>
                        <small class="text-danger">メールアドレス<%= error %></small>
                    <% end %>
                </div>
            </div>

            <div class="mt-3">
                <%= f.password_field :password, class: "form-control", autocomplete: "new-password", placeholder: "パスワード" %>
                <div>
                    <% resource.errors[:password].each do |error| %>
                        <small class="text-danger">パスワード<%= error %></small>
                    <% end %>
                </div>
            </div>

            <div class="mt-3">
                <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", placeholder: "パスワード確認" %>
                <div>
                    <% resource.errors[:password_confirmation].each do |error| %>
                        <small class="text-danger">パスワード確認<%= error %></small>
                    <% end %>
                </div>
            </div>

            <div class="col-10 mx-auto">
                <%= f.submit "新規会員登録", class: "btn col-12 submit-btn fw-bold" %>
            </div>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
</div>