<% if @closet.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @closet.errors.each do |error| %>
      <strong>エラー！</strong> - <%= error.full_message %><br>
    <% end %>
  </div>
<% end %>

<%= form_with(model: @closet, url: "/closet/update/#{@closet.id}", local: true) do |f| %>
  <div class="mb-3">
    <%= f.file_field :photograph, class: "form-control", placeholder: "写真" %>
  </div>
  <div class="mb-3">
    <%= f.text_field :big_Category, class: "form-control", placeholder: "大カテゴリー" %>
  </div>
    <div class="mb-3">
    <%= f.text_field :small_Category, class: "form-control", placeholder: "小カテゴリー" %>
  </div>
  <div class="mb-3">
    <%= f.number_field :price, class: "form-control", placeholder: "金額" %>
  </div>
  <div class="mb-3">
    <%= f.text_field :color, class: "form-control", placeholder: "カラー" %>
  </div>
  <div class="mb-3">
    <%= f.text_field :size, class: "form-control", placeholder: "サイズ" %>
  </div>
  <div class="mb-3">
    <%= f.text_field :brand, class: "form-control", placeholder: "ブランド" %>
  </div>
  <%= f.submit "Submit", disable_with: 'Submiting...' %>
<% end %>