<div id="closet_posts">
    <%# ! header %>
    <div class="pc-header">
        <%= render "coordinates/layouts/pc_header" %>
    </div>

    <div class="row g-0">
        <%# ! sidebar %>
        <div class="col-lg-2-5 pc-sidebar">
            <%= render "coordinates/layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="col-lg-9-5 col-12">
            <div class="edit-content">
				<h3 class="pt-3 pb-5 fw-bold text-center">アイテム編集</h3>

                <%= form_with(model: @closet, url: "/closet/update/#{@closet.id}", local: true, class:"col-lg-9 mx-auto") do |f| %>
					<small class="fw-bold">画像を追加</small>
					<div class="mb-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ItemModal">
                            アイテム画像
                        </button>

                        <div class="modal modal-lg fade modal-area modal-dialog-scrollable" id="ItemModal" tabindex="-1" aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title fs-6 fw-bold mx-auto" id="exampleModalLabel">アイテム画像を設定</h6>
                                    </div>

                                    <div class="modal-body">
                                        <div class="col-lg-5 mx-auto py-4">
                                            <%= f.file_field :photograph, class: "form-control" %>
                                        </div>
                                    </div>

                                    <div class="modal-footer post-area text-center">
                                        <div class="mx-auto">
                                            <button type="button" class="btn px-3 text-white border" data-bs-dismiss="modal">キャンセル</button>
                                            <button type="button" class="btn px-3 submit-btn" data-bs-dismiss="modal">選択</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <% @closet.errors[:photograph].each do |error| %>
                                <small class="text-danger">アイテム画像を設定してください。</small>
                            <% end %>
                        </div>
					</div>

					<small class="fw-bold">アイテム情報</small>
					<div class="mb-3">
						<%= f.select :big_Category, ['アウター', 'トップス', 'ボトムス', 'シューズ', 'その他'], {include_blank: 'メインカテゴリーを選択'}, class: 'form-control', id: 'big-category-select' %>

						<div>
                            <% @closet.errors[:big_Category].each do |error| %>
                                <small class="text-danger">メインカテゴリー選択してください。</small>
                            <% end %>
                        </div>
					</div>

					<div class="mb-3">
						<%= f.select :small_Category, ['ジャケット','コート','ピーコート','ダウンジャケット','レザージャケット','ウインドブレーカー','カーディガン','Tシャツ','シャツ','ブラウス','ポロシャツ',"スウェット",'ニットセーター','パーカー','ジーンズ','パンツ','ショートパンツ','スカート','レギンス','ショーツ','スカート','スニーカー','パンプス','サンダル','ブーツ','フラットシューズ','革靴','ネックレス','ブレスレット',"キャップ",'ピアス','リング','ヘアアクセサリー','その他'], {include_blank: 'サブカテゴリーを選択'}, class: 'form-control', id: "small-category-select" %>
					</div>

					<div class="mb-3">
						<%= f.number_field :price, class: "form-control", placeholder: "金額を入力" %>
					</div>

					<div class="mb-3">
						<%= f.select :color, ['ホワイト系','ブラック系','グレー系','ブラウン系','ベージュ系','グリーン系','ブルー系','パープル系','イエロー系','ピンク系','レッド系',"オレンジ系",'シルバー系','ゴールド系','その他'], {include_blank: 'カラーを選択'}, class: 'form-control' %>

						<div>
                            <% @closet.errors[:color].each do |error| %>
                                <small class="text-danger">アイテムのカラーを選択してください。</small>
                            <% end %>
                        </div>
					</div>

					<div class="mb-3">
						<%= f.select :size, ['M','L'], {include_blank: 'サイズを選択'}, class: 'form-control' %>
					</div>

					<div class="mb-3">
						<%= f.text_field :brand, placeholder: "ブランドを入力", class: 'form-control' %>
					</div>

					<%= f.submit "編集する", class: "btn btn-primary mt-3" %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<script>

    $('#big-category-select').change(function() {
        var selectedValue = $(this).val();
        var smallCategorySelect = $('#small-category-select');

        $.ajax({
            url: '/realtime_selected_value', // 適切なエンドポイントのURLを設定
            method: 'POST',
            data: { selected_value: selectedValue },
            success: function(response) {
                smallCategorySelect.empty(); // 小カテゴリーセレクトボックスをクリア
                var options = response.options;
                if (options) {
                    for (var i = 0; i < options.length; i++) {
                        var option = $('<option>').text(options[i]);
                        smallCategorySelect.append(option); // 選択肢を追加
                    }
                } else {
                    // デフォルトの値を追加する
                    var default_options = [
                        'ジャケット',
                        'コート',
                        'ピーコート',
                        'ダウンジャケット',
                        'レザージャケット',
                        'ウインドブレーカー',
                        'カーディガン',
                        'Tシャツ',
                        'シャツ',
                        'ブラウス',
                        'ポロシャツ',
                        'ニットセーター',
                        'パーカー',
                        'ジーンズ',
                        'パンツ',
                        'ショートパンツ',
                        'スカート',
                        'レギンス',
                        'ショーツ',
                        'スカート',
                        'スニーカー',
                        'パンプス',
                        'サンダル',
                        'ブーツ',
                        'フラットシューズ',
                        '革靴',
                        'ネックレス',
                        'ブレスレット',
                        'ピアス',
                        'リング',
                        'ヘアアクセサリー',
                        'その他',
                    ];
                    for (var i = 0; i < default_options.length; i++) {
                        var option = $('<option>').text(default_options[i]);
                        smallCategorySelect.append(option); // 選択肢を追加
                    }
                }
            },

            error: function(error) {

            },
        });
    });

</script>