<div id="closet_posts">
    <%# ! header %>
    <div class="pc-header">
        <%= render "coordinates/layouts/pc_header" %>
    </div>

    <div class="row g-0">
        <%# ! sidebar %>
        <div class="col-lg-2 pc-sidebar">
            <%= render "coordinates/layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="list_content col-lg-10 col-12">
            <div class="bg-white h-100 py-5">
               <%# * エラーメッセージの表示 %>
                <div class="col-lg-8 mx-auto">
                <% if @closet.errors.any? %>
                    <div class="alert alert-danger" role="alert">
                        <% @closet.errors.each do |error| %>
                        <strong>エラー！</strong> - <%= error.full_message %><br>
                        <% end %>
                    </div>
                <% end %>

                <%= form_with(model: @closet, url: "/closet/create", local: true, :html => {class:"needs-validation", :novalidate => true}) do |f| %>
                  <div class="mb-3">
                    <%= f.file_field :photograph, required: true, class: "form-control", placeholder: "写真" %>
                    <div class="invalid-feedback">
                      写真を入力して下さい
                    </div>
                  </div>
                  <div class="mb-3">
                    <%= f.select :big_Category, ['アウター', 'トップス', 'パンツ', 'シューズ', 'その他'], {include_blank: '大カテゴリーを選択してください'}, class: 'form-control', required: true, id: 'big-category-select' %>
                    <div class="invalid-feedback">
                      大カテゴリーを入力して下さい
                    </div>
                  </div>
                  <div class="mb-3">
                    <%= f.select :small_Category, [], {include_blank: '小カテゴリーを選択してください'}, class: 'form-control', id: "small-category-select" %>
                  </div>
                  <div class="mb-3">
                    <%= f.number_field :price, class: "form-control", placeholder: "金額" %>
                  </div>
                  <div class="mb-3">
                    <%= f.text_field :color, class: "form-control", placeholder: "カラー" %>
                  </div>
                  <div class="mb-3">
                    <%= f.text_field :size, class: "form-control", placeholder: "サイズ" %>
                  </div>
                  <div class="mb-3">
                    <%= f.text_field :brand, class: "form-control", placeholder: "ブランド" %>
                  </div>
                  <%= f.submit "登録する", class: "btn btn-primary" %>
                <% end %>

            </div>
        </div>
    </div>
</div>