<div id="closet_posts">
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="side-content">
            <%= render "layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="main-content">
        <%= render "layouts/error" %>
        
            <div class="new-edit-content mx-auto">
				<h4 class="fw-bold text-center">洋服を登録</h4>

                <%= form_with(model: @closet, url: "/closet/create", local: true) do |f| %>
                    <div class="mb-3">
                        <label class="fw-bold">アイテム画像を追加</label><br>
                        <button type="button" class="item" data-bs-toggle="modal" data-bs-target="#CoordinateModal">
                            <div id="image-preview" class="preview"></div>
                        </button>

                        <div class="modal fade modal-area modal-dialog-scrollable" id="CoordinateModal" tabindex="-1" aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title fs-6 fw-bold mx-auto" id="exampleModalLabel">コーディネート画像を設定</h6>
                                    </div>

                                    <div class="modal-body">
                                        <div class="coordinate-modal">
                                            <%= f.file_field :photograph, class: "form-control", id: "file-input" %>
                                        </div>
                                    </div>

                                    <div class="modal-footer post-area text-center">
                                        <div class="mx-auto">
                                            <button type="button" class="btn px-3 text-white border" data-bs-dismiss="modal">キャンセル</button>
                                            <button type="button" class="btn px-3 submit-btn" data-bs-dismiss="modal">選択</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <% @closet.errors[:photograph].each do |error| %>
                                <small class="text-danger">アイテム画像を設定してください。</small>
                            <% end %>
                        </div>
                    </div>

					<label class="fw-bold">アイテム情報</label><br>
					<div class="mb-3">
						<%= f.select :big_Category, ['アウター', 'トップス', 'ボトムス', 'シューズ', 'その他'], {include_blank: 'メインカテゴリーを選択 ▾'}, class: 'form-control', id: 'big-category-select' %>

						<div>
                            <% @closet.errors[:big_Category].each do |error| %>
                                <small class="text-danger">メインカテゴリー選択してください。</small>
                            <% end %>
                        </div>
					</div>

					<div class="mb-3">
						<%= f.select :small_Category, ["ベスト", "ジャケット", "トラックジャケット", "MA-1", "パーカー", "レザージャケット", "ウインドブレーカー", "ダウンジャケット", "コート", "ピーコート","タンクトップ", "Tシャツ", "ブラウス", "ポロシャツ", "シャツ", "スウェット", "パーカー", "カーディガン", "ニットセーター", "ワンピース","ショーツ", "パンツ", "ジーンズ", "レギンス", "スカート", "オーバーオール","スニーカー", "サンダル", "ブーツ", "パンプス", "フラットシューズ", "ローファー", "革靴","ネックレス", "ブレスレット", "ピアス", "キャップ", "リング", "ヘアアクセサリー", "ネクタイ", "ベルト", "バック", "その他"], {include_blank: 'サブカテゴリーを選択 ▾'}, class: 'form-control', id: "small-category-select" %>
					</div>

					<div class="mb-3">
						<%= f.number_field :price, class: "form-control", placeholder: "金額を入力" %>
					</div>

					<div class="mb-3">
						<%= f.select :color, ['ホワイト系','ブラック系','グレー系','ブラウン系','ベージュ系','グリーン系','ブルー系','パープル系','イエロー系','ピンク系','レッド系',"オレンジ系",'シルバー系','ゴールド系','その他'], {include_blank: 'カラーを選択 ▾'}, class: 'form-control' %>

						<div>
                            <% @closet.errors[:color].each do |error| %>
                                <small class="text-danger">アイテムのカラーを選択してください。</small>
                            <% end %>
                        </div>
					</div>

					<div class="mb-3">
						<%= f.select :size, ['XXS','XS','S','M','L','XL','XXL','その他'], {include_blank: 'サイズを選択 ▾'}, class: 'form-control' %>
					</div>

					<div class="mb-3">
						<%= f.text_field :brand, placeholder: "ブランドを入力", class: 'form-control' %>
					</div>

                    <div class="col-lg-8 col-12 col-md-8 mx-auto" style="margin-top: 100px;">
                        <div class="row">
                            <div class="col-6">
                                <a href="/closet/list" class="btn col-12 cancel-btn">キャンセル</a>
                            </div>

                            <div class="col-6">
                                <%= f.submit "登録する", data: { disable_with: "登録中..." }, class: "btn col-12 submit-btn" %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<script>
    <%# ! htmlの要素が読み込まれたら処理を開始する %>
    $(document).ready(function() {
        <%# * 処理の目的 => 選択された画像をプレビューする %>
        <%# * 入力 => 選択した画像 %>
        <%# * 加工 => 選択した画像を取得し、プレビューする %>
        <%# * 出力 => プレビュー %>
        const fileInput = document.getElementById('file-input');
        const preview = document.getElementById('image-preview');
        const reader = new FileReader();

        const defaultImage = createPreviewImage("/assets/adds/img_add.png", 'デフォルト画像');
        preview.appendChild(defaultImage);

        fileInput.addEventListener('change', handleFileChange);

        function handleFileChange(event) {
            const file = event.target.files[0];
            reader.onload = function(e) {
                clearPreview();
                const image = createPreviewImage(e.target.result, 'プレビュー画像');
                preview.appendChild(image);
            };
            reader.readAsDataURL(file);
        }

        function createPreviewImage(src, altText) {
            const image = new Image();
            image.src = src;
            image.alt = altText;
            setPreviewStyles(image);
            return image;
        }

        function setPreviewStyles(imageElement) {
            imageElement.classList.add('preview');
            imageElement.style.width = '189px';
            imageElement.style.height = '262px';
            imageElement.style.objectFit = 'cover';
            imageElement.style.borderRadius = '10px';
        }

        function clearPreview() {
            preview.innerHTML = '';
        }

        <%# * 処理の目的 => 選択されたメインカテゴリーからサブカテゴリーを取得 %>
        <%# * 入力 => 選択したメインカテゴリー %>
        <%# * 加工 => AJAXリクエストを使用し、サブカテゴリーを取得 %>
        <%# * 出力 => サブカテゴリー %>
        $('#big-category-select').change(function() {
            var selectedValue = $(this).val();
            var smallCategorySelect = $('#small-category-select');

            $.ajax({
                url: '/realtime_selected_value',
                method: 'POST',
                data: { selected_value: selectedValue },
                success: function(response) {
                    smallCategorySelect.empty();
                    var options = response.options;
                    if (options) {
                        for (var i = 0; i < options.length; i++) {
                            var option = $('<option>').text(options[i]);
                            smallCategorySelect.append(option);
                        }
                    } else {
                        var default_options = [
                            "ベスト", "ジャケット", "トラックジャケット", "MA-1", "パーカー", "レザージャケット", "ウインドブレーカー", "ダウンジャケット", "コート", "ピーコート","タンクトップ", "Tシャツ", "ブラウス", "ポロシャツ", "シャツ", "スウェット", "パーカー", "カーディガン", "ニットセーター", "ワンピース","ショーツ", "パンツ", "ジーンズ", "レギンス", "スカート", "オーバーオール","スニーカー", "サンダル", "ブーツ", "パンプス", "フラットシューズ", "ローファー", "革靴","ネックレス", "ブレスレット", "ピアス", "キャップ", "リング", "ヘアアクセサリー", "ネクタイ", "ベルト", "バック", "その他",
                        ];
                        for (var i = 0; i < default_options.length; i++) {
                            var option = $('<option>').text(default_options[i]);
                            smallCategorySelect.append(option);
                        }
                    }
                },

                error: function(error) {

                },
            });
        });
    });
</script>