<div id="closet_form">
    <%# ! header %>
    <%= render "coordinates/layouts/header" %>
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="col-lg-3">
            <%= render "coordinates/layouts/sidebar" %>
        </div>

        <%# ! contents %>
        <div class="list_content col-lg-9">
            <div class="m-3 bg-light p-5">
                <%# * エラーメッセージの表示 %>
                <div class="col-lg-9 mx-auto">
                <% if @closet.errors.any? %>
                    <div class="alert alert-danger" role="alert">
                        <% @closet.errors.each do |error| %>
                        <strong>エラー！</strong> - <%= error.full_message %><br>
                        <% end %>
                    </div>
                <% end %>

                <%= form_with(model: @closet, url: "/closet/create", local: true, :html => {class:"needs-validation", :novalidate => true}) do |f| %>
                  <div class="mb-3">
                    <%= f.file_field :photograph, required: true, class: "form-control", placeholder: "写真" %>
                    <div class="invalid-feedback">
                      写真を入力して下さい
                    </div>
                  </div>
                  <div class="mb-3">
                    <%= f.select :big_Category, ['アウター', 'トップス', 'パンツ', 'シューズ', 'その他'], {include_blank: '選択してください'}, class: 'form-control', required: true %>
                    <div class="invalid-feedback">
                      大カテゴリーを入力して下さい
                    </div>
                  </div>
                    <div class="mb-3">
                    <%= f.text_field :small_Category, class: "form-control", placeholder: "小カテゴリー" %>
                  </div>
                  <div class="mb-3">
                    <%= f.number_field :price, class: "form-control", placeholder: "金額" %>
                  </div>
                  <div class="mb-3">
                    <%= f.text_field :color, class: "form-control", placeholder: "カラー" %>
                  </div>
                  <div class="mb-3">
                    <%= f.text_field :size, class: "form-control", placeholder: "サイズ" %>
                  </div>
                  <div class="mb-3">
                    <%= f.text_field :brand, class: "form-control", placeholder: "ブランド" %>
                  </div>
                  <%= f.submit "登録する", class: "btn btn-primary" %>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>