<div id="closet_posts">
    <%# ! header %>
    <div class="pc-header">
        <%= render "coordinates/layouts/pc_header" %>
    </div>

    <div class="row g-0">
        <%# ! sidebar %>
        <div class="col-lg-2 pc-sidebar">
            <%= render "coordinates/layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="list_content col-lg-10 col-12">
            <div class="bg-white h-100 py-5">
               <%# * エラーメッセージの表示 %>
                <div class="col-lg-8 mx-auto">
                <% if @closet.errors.any? %>
                    <div class="alert alert-danger" role="alert">
                        <% @closet.errors.each do |error| %>
                        <strong>エラー！</strong> - <%= error.full_message %><br>
                        <% end %>
                    </div>
                <% end %>

                <%= form_with(model: @closet, url: "/closet/create", local: true, :html => {class:"needs-validation", :novalidate => true}) do |f| %>
                  <div class="mb-3">
                    <%= f.file_field :photograph, required: true, class: "form-control", placeholder: "写真" %>
                    <div class="invalid-feedback">
                      写真を入力して下さい。
                    </div>
                  </div>
                  <div class="mb-3">
                    <%= f.select :big_Category, ['アウター', 'トップス', 'ボトムス', 'シューズ', 'その他'], {include_blank: '大カテゴリーを選択してください'}, class: 'form-control', required: true, id: 'big-category-select' %>
                    <div class="invalid-feedback">
                      大カテゴリーを入力して下さい。
                    </div>
                  </div>
                  <div class="mb-3">
                    <%= f.select :small_Category, ['ジャケット','コート','ピーコート','ダウンジャケット','レザージャケット','ウインドブレーカー','カーディガン','Tシャツ','シャツ','ブラウス','ポロシャツ','ニットセーター','パーカー','ジーンズ','パンツ','ショートパンツ','スカート','レギンス','ショーツ','スカート','スニーカー','パンプス','サンダル','ブーツ','フラットシューズ','革靴','ネックレス','ブレスレット','ピアス','リング','ヘアアクセサリー','その他'], {include_blank: '小カテゴリーを選択してください'}, class: 'form-control', id: "small-category-select" %>
                  </div>
                  <div class="mb-3">
                    <%= f.number_field :price, class: "form-control", placeholder: "金額" %>
                  </div>
                  <%# ? --------- %>
                  <div class="mb-3">
                  <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                        <div class="accordion-header">
                          <button type="button" class="col-12 btn text-start" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            カラー
                          </button>
                        </div>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                          <ul class="radio-a">
                            <li>
                              <input name="color" id="radio-a01" type="radio" value="ホワイト">
                              <label class="radio-a-label" for="radio-a01">ホワイト</label>
                            </li>
                            <li>
                              <input name="color" id="radio-a02" type="radio" value="ブラック">
                              <label class="radio-a-label" for="radio-a02">ブラック</label>
                            </li>

                          </ul>

                            <div class="radio-vertical">
                              <label for="" class="button">
                              
                              ホワイト</label>

                              <%= f.radio_button :color, 'ブラック' %>
                              <%= f.label :color, 'ブラック' %>
                              
                              <%= f.radio_button :color, 'グレー' %>
                              <%= f.label :color, 'グレー' %>

                              <%= f.radio_button :color, 'ブラウン' %>
                              <%= f.label :color, 'ブラウン' %>

                              <%= f.radio_button :color, 'ベージュ' %>
                              <%= f.label :color, 'ベージュ' %>
                              

                              <br>
                              <%# !--------%>
                              <%= f.radio_button :color, 'グリーン' %>
                              <%= f.label :color, 'グリーン' %>
                              
                              <%= f.radio_button :color, 'ブルー' %>
                              <%= f.label :color, 'ブルー' %>
                              <%= f.radio_button :color, 'パープル' %>
                              <%= f.label :color, 'パープル' %>

                              <%= f.radio_button :color, 'イエロー' %>
                              <%= f.label :color, 'イエロー' %>
                              
                              <%= f.radio_button :color, 'ピンク' %>
                              <%= f.label :color, 'ピンク' %>

                              <br>
                              <%# !--------%>
                              
                              <%= f.radio_button :color, 'レッド' %>
                              <%= f.label :color, 'レッド' %>
                              <%= f.radio_button :color, 'オレンジ' %>
                              <%= f.label :color, 'オレンジ' %>

                              <%= f.radio_button :color, 'シルバー' %>
                              <%= f.label :color, 'シルバー' %>
                              
                              <%= f.radio_button :color, 'ゴールド' %>
                              <%= f.label :color, 'ゴールド' %>
                              
                              <%= f.radio_button :color, 'その他' %>
                              <%= f.label :color, 'その他' %>
                              <%# !--------%>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%# ?----------------------- %>
                  <div class="mb-3">
                    <%= f.text_field :size, class: "form-control", placeholder: "サイズ" %>
                  </div>
                    <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                        <div class="accordion-header">
                          <button type="button" class="col-12 btn text-start" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            ブランド
                          </button>
                        </div>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                          <div class="d-flex mb-3">
                            <%= text_field_tag :brand_search, nil, class: "form-control me-2", placeholder: "ブランドを検索" %>
                          </div>
                          <%= f.select :brand, [], {include_blank: 'ブランドを検索し、選択してください'}, class: 'form-control', id: "brand-select" %>
                        </div>
                      </div>
                    </div>
                  <%= f.submit "登録する", class: "btn btn-primary mt-3" %>
                <% end %>
            </div>
        </div>
    </div>
</div>