<div id="closet_posts">
    <%# ! header %>
    <div class="pc-header">
        <%= render "coordinates/layouts/pc_header" %>
    </div>

    <div class="row g-0">
        <%# ! sidebar %>
        <div class="col-lg-2-5 pc-sidebar">
            <%= render "coordinates/layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="col-lg-9-5 col-12">
            <div class="show-content">
                <h3 class="pt-3 pb-5 fw-bold text-center">アイテム詳細</h3>

                <div class="row mx-4 d-flex align-items-center justify-content-center">
                    <div class="col-lg-5">
                        <%= image_tag @closet.photograph.url, class: "closet-show-image" %>
                    </div>

                    <div class="col-lg-7 item-data">
                        <div class="d-flex">
                            <div class="col-lg-6 col-md-3 col-3 p-1 table-menu">
                                メインカテゴリー    
                            </div>

                            <div class="col-lg-6 col-md-9 col-9 p-1 text-end fw-bold">
                                <%= @closet.big_Category %>
                            </div>
                        </div>
                        <hr>

                        <div class="d-flex mt-3">
                            <div class="col-lg-6 col-md-3 col-3 p-1 table-menu">
                                サブカテゴリー  
                            </div>

                            <div class="col-lg-6 col-md-9 col-9 p-1 text-end fw-bold">
                                <%= @closet.small_Category %>
                            </div>
                        </div>
                        <hr>

                        <div class="d-flex mt-3">
                            <div class="col-lg-6 col-md-3 col-3 p-1 table-menu">
                                金額
                            </div>

                            <div class="col-lg-6 col-md-9 col-9 p-1 text-end fw-bold">
                                <% if @closet.price %>
                                    ￥<%= number_with_delimiter(@closet.price, delimiter: ',') %>
                                <% end %>
                            </div>
                        </div>
                        <hr>

                        <div class="d-flex mt-3">
                            <div class="col-lg-6 col-md-3 col-3 p-1 table-menu">
                                カラー
                            </div>

                            <div class="col-lg-6 col-md-9 col-9 p-1 text-end fw-bold">
                                <%= @closet.color %>
                            </div>
                        </div>
                        <hr>

                        <div class="d-flex mt-3">
                            <div class="col-lg-6 col-md-3 col-3 p-1 table-menu">
                                サイズ
                            </div>

                            <div class="col-lg-6 col-md-9 col-9 p-1 text-end fw-bold">
                                <%= @closet.size %>
                            </div>
                        </div>
                        <hr>

                        <div class="d-flex mt-3">
                            <div class="col-lg-6 col-md-3 col-3 p-1 table-menu">
                                ブランド
                            </div>

                            <div class="col-lg-6 col-md-9 col-9 p-1 text-end fw-bold">
                                <%= @closet.brand %>
                            </div>
                        </div>
                        <hr>

                        <div class="mt-3">
                            <% if @closet.user.id == current_user.id %>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <%= button_to "このアイテム削除", "/closet/delete/#{@closet.id}", method: :delete, class: "btn col-12 delete-btn" %>
                                    </div>

                                    <div class="col-lg-6">
                                        <%= link_to "アイテム情報を編集" , "/closet/edit/#{@closet.id}", class: "btn col-12 edit-btn" %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>

                    <div class="配置未定">
                        <% @coordinate_items.flatten.each do |sns| %>
                            <div>
                                <%= link_to "/sns/show/#{sns.id}" do %>
                                    <%= image_tag sns.photograph.url, class: "sns-image" %>
                                <% end %>
                            </div>
                        <% end %>
                    </div>

                    <div class="mt-5 pt-5 text-center">
                        <%= link_to "戻る", "/closet/list", class: "btn px-5 rounded-pill return-btn" %>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>


