<div id="closet_posts">
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="side-content">
            <%= render "layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="main-content">
        <%= render "layouts/error" %>
        
            <div class="show-content mx-auto">
                <h3 class="fw-bold text-center">アイテム詳細</h3>

                <div class="d-flex-origin">
                    <div class="left-content">
                        <%= image_tag @closet.photograph.url(:forced_size), class: "closet-show-image" %>
                    </div>

                    <div class="right-content">
                        <div class="item-data">
                            <span class="category">
                                メインカテゴリー
                            </span>

                            <span class="data">
                                <%= @closet.big_Category %>
                            </span>
                        </div>

                        <div class="item-data" style="margin-top: 24px;">
                            <span class="category">
                                サブカテゴリー
                            </span>

                            <span class="data">
                                <%= @closet.small_Category %>
                            </span>
                        </div>

                        <div class="item-data" style="margin-top: 24px;">
                            <span class="category">
                                金額
                            </span>

                            <span class="data">
                                <% if @closet.price %>
                                    ￥<%= number_with_delimiter(@closet.price, delimiter: ',') %>
                                <% end %>
                            </span>
                        </div>

                        <div class="item-data" style="margin-top: 24px;">
                            <span class="category">
                                カラー
                            </span>

                            <span class="data">
                                <%= @closet.color %>
                            </span>
                        </div>

                        <div class="item-data" style="margin-top: 24px;">
                            <span class="category">
                                サイズ
                            </span>

                            <span class="data">
                                <%= @closet.size %>
                            </span>
                        </div>

                        <div class="item-data" style="margin-top: 24px;">
                            <span class="category">
                                ブランド
                            </span>

                            <span class="data">
                                <%= @closet.brand %>
                            </span>
                        </div>

                        <div class="delete-edit-area">
                            <% if @closet.user.id == current_user.id %>
                                <div class="row g-0">
                                    <div class="col-6" style="padding-right: 10px;">
                                        <%= button_to "削除する", "/closet/delete/#{@closet.id}", method: :delete, class: "btn col-12 delete-btn" %>
                                    </div>

                                    <div class="col-6" style="padding-left: 10px;">
                                        <%= link_to "更新する" , "/closet/edit/#{@closet.id}", class: "btn col-12 edit-btn" %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>

                <div class="back-btn">
                    <a href="/closet/list" class="btn rounded-pill">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 17 17" fill="none">
                            <g clip-path="url(#clip0_1494_9080)">
                                <path d="M8.28 2.74665L7.1 1.56665L0.5 8.16665L7.1 14.7667L8.28 13.5866L2.86 8.16665L8.28 2.74665Z" fill="white"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_1494_9080">
                                <rect width="16" height="16" fill="white" transform="translate(0.5 0.166626)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        戻る
                    </a>
                </div>

                <div class="sns-area mx-auto">
                    <h6 class="fw-bold">このアイテムを使用したコーディネート</h6>

                    <% @sns_all.flatten.each do |sns| %>
                        <div class="flex mt-1" style="margin-bottom: 150px;">
                            <%= link_to "/sns/show/#{sns.id}" do %>
                                <%= image_tag sns.photograph.url(:forced_size), class: "sns-image" %>
                            <% end %>

                            <div class="user-area pc-tablet">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <% if sns.user.avatar.present? %>
                                            <%= link_to "/profile/show/#{sns.user_id}" do %>
                                                <%= image_tag sns.user.avatar.url %>
                                            <% end %>
                                        <% else %>
                                            <%= link_to "/profile/show/#{sns.user_id}" do %>
                                                <%= image_tag "/assets/user/avatar.png" %>
                                            <% end %>
                                        <% end %>

                                        <div class="ms-2">
                                            <div class="fw-bold user-name">
                                                <%= truncate(sns.user.user_name, length: 10) %>
                                            </div>

                                            <div class="user-height m-0">
                                                <% if sns.user.height %>
                                                    <%= sns.user.height %>cm
                                                <% else %>
                                                    身長未設定
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="like m-0 d-flex align-items-center">
                                        <%# ?  いいねできるかどうか判定 %>
                                        <% if user_signed_in? %>
                                            <% if SocialLike.where(social_id: sns.id, user_id: current_user.id).exists? %>
                                                <%= link_to "/sns/delete_like/#{sns.id}", method: :delete do %>
                                                    <img src="/assets/icons/icn_heart.png" alt="">
                                                <% end %>
                                            <% else %>
                                                <%= link_to "/sns/create_like/#{sns.id}", method: :post do %>
                                                    <img src="/assets/icons/icn_not_heart.png" alt="">
                                                <% end %>
                                            <% end %>
                                        <% else %>
                                            <%= link_to "/sns/create_like/#{sns.id}", method: :post do %>
                                                <img src="/assets/icons/icn_not_heart.png" alt="">
                                            <% end %>
                                        <% end %>

                                        <span class="number-of-likes align-self-center">
                                            <%= SocialLike.where(social_id: sns.id).count %>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="user-area mobile">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <% if sns.user.avatar.present? %>
                                            <%= link_to "/profile/show/#{sns.user_id}" do %>
                                                <%= image_tag sns.user.avatar.url %>
                                            <% end %>
                                        <% else %>
                                            <%= link_to "/profile/show/#{sns.user_id}" do %>
                                                <%= image_tag "/assets/user/avatar.png" %>
                                            <% end %>
                                        <% end %>

                                        <div class="ms-2">
                                            <div class="fw-bold user-name">
                                                <%= truncate(sns.user.user_name, length: 8) %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="like m-0 d-flex align-items-center">
                                        <%# ?  いいねできるかどうか判定 %>
                                        <% if user_signed_in? %>
                                            <% if SocialLike.where(social_id: sns.id, user_id: current_user.id).exists? %>
                                                <%= link_to "/sns/delete_like/#{sns.id}", method: :delete do %>
                                                    <img src="/assets/icons/icn_heart.png" alt="">
                                                <% end %>
                                            <% else %>
                                                <%= link_to "/sns/create_like/#{sns.id}", method: :post do %>
                                                    <img src="/assets/icons/icn_not_heart.png" alt="">
                                                <% end %>
                                            <% end %>
                                        <% else %>
                                            <%= link_to "/sns/create_like/#{sns.id}", method: :post do %>
                                                <img src="/assets/icons/icn_not_heart.png" alt="">
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>