<div id="profile_profiles">
    <%# ! header %>
    <div class="pc-header">
        <%= render "profile/layouts/pc_header" %>
    </div>

    <div class="row g-0">
        <%# ! sidebar %>
        <div class="col-lg-2 pc-sidebar">
            <%= render "profile/layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="list_content col-lg-10">
            <div class="bg-white py-5 h-100">
                <%= form_with(model: @user_data, url: "/profile/update/#{@user_data.id}", local: true, :html => {class:"needs-validation mx-auto col-lg-8", :novalidate => true}) do |f| %>
                  <!-- プロフィール画面のビューファイル -->
                  <% if @suggestion_result %>
                  ローディング中
                  <% end %>

                  <div class="mb-3">
                    <%= f.file_field :avatar,  class: "form-control", placeholder: "アイコン" %>
                  </div>
                  <div class="mb-3">
                    <%= f.text_field :user_name, required: true, class: "form-control", placeholder: "名前" %>
                  </div>
                  <div class="mb-3">
                    <%= f.number_field :height, class: "form-control", placeholder: "身長" %>
                  </div>
                  <div class="mb-3">
                    <%= f.number_field :weight, class: "form-control", placeholder: "体重" %>
                  </div>
                  <div class="mb-3">
                    <%= f.number_field :age, class: "form-control", placeholder: "年齢" %>
                  </div>
                  <div class="mb-3">
                    <%= f.select :gender, [['男', 1], ['女', -1]], { include_blank: '性別を選択してください' }, class: 'form-control' %>
                  </div>
                  <div class="mb-3">
                    <%= f.text_area :profile, class: "form-control", placeholder: "プロフィール" %>
                  </div>
                  <%= f.submit "登録する", data: { disable_with: "プロフィールを更新中..." }, class: "btn btn-primary" %>
                  <div class="loading">
                    <%= image_tag '/assets/Now-Loading.gif', size: "200x200" %>
                  </div>
                <% end %>
                </div>

            </div>
        </div>
    </div>
</div>
