<div id="closet_searchs">
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="side-content">
            <%= render "layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="main-content">
            <div class="search-content mx-auto">
                <% if @search_result.count == 0 %>
                    <h4 class="fw-bold text-center">検索結果：</h4>
                    <h4 class="fw-bold text-center">「<%= params[:search] %>」</h4>
                    <p class="text-center">（0件）</p>
                    <h5 class="text-center">条件に当てはまるアイテムが見つかりませんでした。<br>検索条件を変えて検索してみてください。</h5>
                <% else %>
                    <h4 class="fw-bold text-center">検索結果：</h4>
                    <h4 class="fw-bold text-center">「<%= params[:search] %>」</h4>
                    <p class="text-center">（<%= @search_result.count %>件）</p>

                    <div class="row g-1">
                        <% @search_result.each do |closet| %>
                            <div class="flex mt-1">
                                <%= link_to "/closet/show/#{closet.id}" do %>
                                    <%= image_tag closet.photograph.url(:forced_size), class: "closet-search-image" %>
                                <% end %>
                            </div>
                        <% end %>

                        <div class="page d-flex justify-content-center">
                            <%= paginate @search_result %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

