<nav class="header mobile_header navbar fixed-top py-3">
    <div class="container-fluid d-flex align-items-center">
        <%= image_tag "/assets/my_closet_logo/logo1.png" %>
    
        <div class="ms-auto tablet-search-form">
            <%= form_with(url: "/sns/search", local: true, method: :get, class: "d-flex mx-2") do |f| %>
                <div class="input-group">
                    <%= f.text_field :search, class: "form-control", placeholder: "search" %>

                    <%= f.button class: "btn bg-white", type: :submit do %>
                        <i class="bi bi-search"></i>
                    <% end %>
                </div>
            <% end %>
        </div>

        <div class="search_icon ms-auto mx-2">
            <button type="button" class="icon btn" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="bi bi-search"></i>
            </button>
        </div>

        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-expanded="false" aria-controls="offcanvasNavbar" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse col-12 mt-3" id="collapseExample">
            <%= form_with(url: "/sns/search", local: true, method: :get, class: "d-flex") do |f| %>
                <div class="input-group">
                    <%= f.text_field :search, class: "form-control", placeholder: "search" %>
                    
                    <%= f.button class: "btn bg-white", type: :submit do %>
                        <i class="bi bi-search"></i>
                    <% end %>
                </div>
            <% end %>
        </div>

        <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">閉じる</h5>

                <button type="button" class="btn-close fw-bold" data-bs-dismiss="offcanvas" aria-label="閉じる"></button>
            </div>

            <div class="offcanvas-body vh-100">
                <div class="d-flex flex-column flex-shrink-0 sticky-top">
                    <ul class="nav nav-pills flex-column">
                        <span class="fs-4 pt-3 px-5">メニュー</span>

                        <li class="nav-item pt-2">
                            <a href="/" class="d-flex align-items-center px-5 py-1 active" aria-current="page">
                                <i class="bi bi-chat"></i>
                                SNS
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/closet/list" class="d-flex align-items-center px-5 py-1">
                                <i class="bi bi bi-grid fs-5"></i>
                                クローゼット
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/suggestion" class="d-flex align-items-center px-5 py-1">
                                <i class="bi bi-robot fs-5"></i>
                                AI提案
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/question/list" class="d-flex align-items-center px-5 py-1">
                                <i class="bi bi-question-circle fs-5"></i>
                                着こなしQ&A
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <%# * ユーザーがログインしているかの判定をする %>
                            <% if user_signed_in? %>
                                <%= link_to "/profile/show/#{current_user.id}", class: "d-flex align-items-center px-5 py-1" do %>
                                    <i class="bi bi-person-circle"></i>
                                    マイページ
                                <% end %>
                            <% else %>
                                <%= link_to "/profile/show/1", class: "d-flex align-items-center px-5 py-1" do %>
                                    <i class="bi bi-person-circle"></i>
                                    マイページ
                                <% end %>
                            <% end %>
                        </li>

                        <li class="nav-item">
                            <a href="/profile/alert/list" class="d-flex align-items-center px-5 py-1">
                                <i class="bi bi-bell"></i>
                                通知
                            </a>
                        </li>

                        <li class="nav-item px-4 pt-2">
                            <a href="/sns/new" class="post-btn btn rounded-pill col-12 d-flex align-items-center justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                                コーディネート投稿
                            </a>
                        </li>

                        <hr class="mx-4">

                        <div class="search-identification">
                            <br><span class="fs-4 px-5">ブランド</span><br>
                            <a class="px-5" href="/sns/search?search=UNIQLO">UNIQLO</a><br>
                            <a class="px-5" href="/sns/search?search=GU">GU</a><br>
                            <a class="px-5" href="/sns/search?search=H＆M">H＆M</a><br>
                            <a class="px-5" href="/sns/search?search=ZARA">ZARA</a><br>
                            <a class="px-5" href="/sns/search?search=WEGO">WEGO</a><br>
                            <a class="px-5" href="/sns/search?search=NIKE">NIKE</a><br>
                            <a class="px-5" href="/sns/search?search=ADIDAS">ADIDAS</a><br>
                            <a class="px-5" href="/sns/search?search=GAP">GAP</a><br>
                            <a class="px-5" href="/sns/search?search=LOWRYSFARM">LOWRYSFARM</a><br>

                            <br><span class="fs-4 px-5">季節</span><br>
                            <a class="px-5" href="/sns/search?search=春">春（3月〜5月）</a><br>
                            <a class="px-5" href="/sns/search?search=夏">夏（6月〜8月）</a><br>
                            <a class="px-5" href="/sns/search?search=秋">秋（9月〜11月）</a><br>
                            <a class="px-5" href="/sns/search?search=冬">冬（12月〜2月）</a><br>

                            <br><span class="fs-4 px-5">身長</span><br>
                            <a class="px-5" href="/sns/search?search=~149">~149cm</a><br>
                            <a class="px-5" href="/sns/search?search=150~159">150cm~159cm</a><br>
                            <a class="px-5" href="/sns/search?search=160~169">160cm~169cm</a><br>
                            <a class="px-5" href="/sns/search?search=175~">175cm~</a><br>
                        </div>


                        <span class="fs-4 pt-3 px-5">その他</span>

                        <li class="nav-item pt-2">
                            <a href="/contact/new" class="d-flex align-items-center px-5 py-1">
                                <i class="bi bi-box-arrow-up-right"></i>
                                お問い合わせ
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <%# * ユーザーがログインしているかの判定をする %>
                            <% if user_signed_in? %>
                                <%= link_to destroy_user_session_path, method: :delete, class: "d-flex align-items-center px-5 py-1" do %>
                                    <i class="bi bi-person-circle"></i>
                                    サインアウト
                                <% end %>
                            <% else %>
                                <%= link_to new_user_session_path, method: :get, class: "d-flex align-items-center px-5 py-1" do %>
                                    <i class="bi bi-person-circle"></i>
                                    サインイン
                                <% end %>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="mobile_error_msg">
    <%= render "layouts/error" %>
</div>