<nav class="header mobile_header navbar py-3">
  <div class="container-fluid">
    <%= image_tag "/assets/my_closet_logo/logo1.png" %>

    <form class="d-flex" role="search">
      <input type="search" class="form-control me-2" placeholder="検索" aria-label="検索">
      <button class="btn btn-outline-success flex-shrink-0" type="submit">検索</button>
    </form>


    <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-expanded="false" aria-controls="offcanvasNavbar" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>

    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">閉じる</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="閉じる"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">ホーム</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">リンク</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ドロップダウン
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>



























<nav class="mobile_header navbar navbar-expand-lg bg-body-tertiary mb-2 py-3">

    <div class="container-fluid col-lg-11">
        <a class="navbar-brand fw-bold text-primary fs-4" href="/">My Closet</a>

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span><i class="bi bi-search"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="Navber">
            <div class="mx-2 d-flex ms-auto" role="search">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item mt-3">
                        <%= form_with(url: "/sns/search", local: true, method: :get, class: "d-flex collapse navbar-collapse") do |f| %>
                            <%= f.text_field :search, class: "form-control me-2", placeholder: "コーディネートを検索" %>
                            <%= f.submit "検索", class: "btn btn-outline-success flex-shrink-0" %>
                        <% end %>
                    </li>
                    <li class="nav-item mt-3">
                        <%# ? サインインしている場合はサインアウトボタン、サインアウトしている場合はサインインボタンが表示される %>
                        <% if user_signed_in? %>
                            <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "btn btn-primary col-12" %>    
                        <% else %>
                            <%= link_to "サインイン", new_user_session_path, method: :get, class: "btn btn-primary col-12" %>
                        <% end %>
                    </li>  
                </ul>
            </div>
        </div>
    </div>
</nav>
<a href="/sns/new" class="btn btn-primary rounded-pill mobile-post-btn">
    <i class="bi bi-plus-lg"></i>
    コーディネート投稿
</a>