<nav class="header pc_header navbar navbar-expand-lg py-4 text-white">
    <div class="container">
        <a class="navbar-brand logo-area d-flex align-items-center" href="/">
            <%= image_tag "/assets/my_closet_logo/logo1.png" %>
        </a>
        
        <div class="collapse navbar-collapse" id="Navber">
            <div class="mx-2 d-flex ms-auto" role="search">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item d-flex align-items-center search-area">
                        <%= form_with(url: "/sns/search", local: true, method: :get, class: "d-flex navbar-collapse") do |f| %>
                            <div class="input-group">
                                <%= f.text_field :search, class: "form-control", placeholder: "search" %>
                                <%= f.button class: "btn bg-white", type: :submit do %>
                                    <i class="bi bi-search"></i>
                                <% end %>
                            </div>
                        <% end %>
                    </li>

                    <li class="nav-item d-flex align-items-center mx-3">
                        <i class="bi bi-bell fs-4 fw-bold"></i>
                    </li>

                    <%# * ユーザーアイコンを表示する %>
                    <li class="nav-item d-flex align-items-center icon-area">
                        <%# ? ログインしているのか判定 %>
                        <% if user_signed_in? %>
                            <%# ? ユーザーがプロフィール画像を設定しているか判定 %>
                            <% if current_user.avatar.url == nil %>
                                <%= link_to "/profile/show/#{current_user.id}" do %>
                                    <%= image_tag "/assets/default-avatar.png" %>
                                <% end %>
                            <% else %>
                                <%= link_to "/profile/show/#{current_user.id}" do %>
                                    <%= image_tag current_user.avatar.url %>
                                <% end %>
                            <% end %>
                        <% else %>
                            <%= link_to "/profile/show/1" do %>
                                <%= image_tag "/assets/default-avatar.png" %>
                            <% end %>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>