<nav class="header pc_header navbar navbar-expand-lg py-3 text-white px-4">
    <div class="container">
        <a class="navbar-brand logo-area d-flex align-items-center" href="/">
            <%= image_tag "/assets/my_closet_logo/logo1.png" %>
        </a>
        
        <div class="collapse navbar-collapse" id="Navber">
            <div class="mx-2 d-flex ms-auto" role="search">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item d-flex align-items-center search-area">
                        <%= form_with(url: "/sns/search", local: true, method: :get, class: "d-flex navbar-collapse") do |f| %>
                            <div class="input-group">
                                <%= f.text_field :search, class: "form-control", placeholder: "search" %>
                                <%= f.button class: "btn bg-white", type: :submit do %>
                                    <i class="bi bi-search"></i>
                                <% end %>
                            </div>
                        <% end %>
                    </li>
                </ul>
            </div>

            <a href="/profile/alert/list" class="btn">
                <i class="bi bi-bell fs-4 text-white alert-btn"></i>

                <span class="rounded-pill text-bg-danger">
                    <small>99+</small>1
                </span>
            </a>
        </div>
    </div>
</nav>

<div class="pc_error_msg">
    <%= render "layouts/error" %>
</div>