<div id="auth">
    <h2 class="text-center fw-bold" style="margin-top: 92px;">パスワード再設定</h2>

    <div class="auth-content mx-auto">
        <%# * パスワードリセットフォーム %>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), :html => {method: :put, class:"needs-validation", :novalidate => true}) do |f| %>            
            <%= f.hidden_field :reset_password_token %>
            
            <%# ? パスワード入力エリア %>
            <div class="mt-3">
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", required: true, class: "form-control", placeholder: "パスワード" %>
            </div>

            <%# ? パスワード再入力エリア %>
            <div class="mt-3">
                <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", required: true, class: "form-control", placeholder: "パスワード確認" %>

                <div>
                    <%= render "devise/shared/error_messages", resource: resource %>
                </div>
            </div>

            <div class="mx-auto col-10">
                <%= f.submit "パスワードリセット", class: "btn fw-bold col-12 submit-btn" %>
            </div>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
</div>
