<div id="profile_alerts">
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="side-content">
            <%= render "layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="main-content">
			<%= render "layouts/error" %>

            <div class="list-content mx-auto">
                <h4 class="fw-bold text-center">通知</h4>

                <ul class="tab-menu nav">
                    <li class="nav-item">
                        <a href="?tab=to_you" class="nav-link <%= params[:tab].nil? || params[:tab] == 'to_you' ? 'active' : '' %>">あなたへ</a>
                    </li>

                    <li class="nav-item">
                        <a href="?page=1&tab=management" class="nav-link <%= params[:tab] == 'management' ? 'active' : '' %>">運営から</a>
                    </li>
                </ul>

                <div class="tab-content mt-2">
                    <div id="to_you" class="tab-pane active">
                        <% @notification.each do |n| %>
                            <%= link_to "/alert/show/#{n.id}", style: "text-decoration: none;" do %>
                                <div class="alert-body">
                                    <% if n.notification_type === "like" %>
                                        <div class="d-flex align-items-center">
                                            <%= image_tag "/assets/icons/icn_like.png", class: "alert-image" %>

                                            <div class="align-items-center alert-title">    
                                                <h6 class="fw-bold">いいね！通知</h6>

                                                <label>
                                                    <%= User.find(n.source_user_id).user_name %>さんがあなたの投稿にいいね！しました。
                                                </label>
                                            </div>

                                            <div class="align-items-center alert-time text-end">
                                                <% if n.read == 0 %>
                                                    <small class="text-danger">NEW</small>
                                                <% end %>

                                                <div class="time">
                                                    <%= time_ago_in_words(n.created_at) %>前
                                                </div>
                                            </div>
                                        </div>
                                    <% elsif n.notification_type === "answer" %>
                                        <div class="d-flex align-items-center">
                                            <%= image_tag "/assets/icons/icn_q&a.png", class: "alert-image" %>

                                            <div class="align-items-center alert-title">    
                                                <h6 class="fw-bold">回答通知</h6>

                                                <label>
                                                    <%= User.find(n.source_user_id).user_name %>さんがあなたの質問に回答しました。
                                                </label>
                                            </div>

                                            <div class="align-items-center alert-time text-end">
                                                <% if n.read == 0 %>
                                                    <small class="text-danger">NEW</small>
                                                <% end %>

                                                <div class="time">
                                                    <%= time_ago_in_words(n.created_at) %>前
                                                </div>
                                            </div>
                                        </div>
                                    <% elsif n.notification_type === "follow" %>
                                        <div class="d-flex align-items-center">
                                            <%= image_tag "/assets/icons/icn_follow.png", class: "alert-image" %>

                                            <div class="align-items-center alert-title">    
                                                <h6 class="fw-bold">フォロー通知</h6>
                                                
                                                <label>
                                                    <%= User.find(n.source_user_id).user_name %>さんがあなたをフォローしました。
                                                </label>
                                            </div>

                                            <div class="align-items-center alert-time text-end">
                                                <% if n.read == 0 %>
                                                    <small class="text-danger">NEW</small>
                                                <% end %>
                                                        
                                                <div class="time">
                                                    <%= time_ago_in_words(n.created_at) %>前
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            <% end %>
                        <% end %>

                        <div class="page d-flex justify-content-center">
                            <%= paginate @notification, param_name: :page_notification, params: { tab: "to_you" } %>
                        </div>
                    </div>

                    <div id="management" class="tab-pane">
                        <% @alerts.each do |a| %>
                            <%= link_to "/alert/show/#{a.id}_management", style: "text-decoration: none;" do %>
                                <div class="d-flex align-items-center alert-body">
                                    <%= image_tag "/assets/icons/icn_official.png", class: "alert-image" %>

                                    <div class="align-items-center alert-title">    
                                        <h6 class="fw-bold">MY CLOSET運営</h6>
                                        
                                        <label>
                                            <%= a.title %>
                                        </label>
                                    </div>

                                    <div class="d-flex align-items-center alert-time text-end">
                                        <div class="time">
                                            <%= time_ago_in_words(n.created_at) %>前
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>

                        <div class="page d-flex justify-content-center">
                            <%= paginate @alerts, param_name: :page_alert, params: { tab: "management" } %>
                        </div>
                    </div>
                </DIV>
            </div>
        </div>
    </div>
</div>

<script>
if (window.location.pathname === "/alert/list") {

        
        <%# ! 現在位置しているタブをアクティブ状態にする %>
        function setActiveTab(tabId) {
            $('.tab-menu .nav-link').removeClass('active');
            $('.tab-content .tab-pane').removeClass('show active');
            $('#' + tabId).addClass('show active');
            $('.tab-menu .nav-link[href*="tab=' + tabId + '"]').addClass('active');
        }

        const urlParams = new URLSearchParams(window.location.search);
        const tabValue = urlParams.get('tab');

        if (tabValue) {
            const tabId = tabValue.toLowerCase();
            setActiveTab(tabId);
        } else {
            $('.tab-menu .nav-link[href*="?tab=all"]').addClass('active');
            $('.tab-content .tab-pane#all').addClass('show active');
        }

        <%# ! ページ遷移時にタブの位置を保持する %>
        $(document).on('click', '.tab-menu .nav-link', function(event) {
            event.preventDefault();
            const tabId = $(this).attr('href').split('tab=')[1].toLowerCase();

            if (tabId === 'page') {
                return;
            }

            setActiveTab(tabId);

            const newUrl = window.location.pathname + '?tab=' + tabId;
            window.history.pushState({ path: newUrl }, '', newUrl);
        });

}


</script>