<div id="profile_alerts">
    <%# ! header %>
    <div class="pc-header">
        <%= render "profile/layouts/pc_header" %>
    </div>

    <div class="row g-0">
        <%# ! sidebar %>
        <div class="col-lg-2-5 pc-sidebar">
            <%= render "profile/layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="col-lg-9-5 col-12">
            <div class="list-content">
                <div class="list_content col-lg-8 mx-auto">
                    <h3 class="pt-3 pb-5 fw-bold text-center">通知</h3>

                    <% @notification.each do |n| %>
                        <%= link_to "/profile/alert/show/#{n.id}", style: "text-decoration: none;" do %>
                            <div class="py-3 px-4 mb-3 alert-body">
                                <div class="d-flex align-items-center">
                                    <%= image_tag "/assets/img_1.png", class: "alert-image" %>

                                    <div class="align-items-center alart-title">
                                        <% if n.notification_type === "like" %>
                                            <h6 class="fw-bold mb-0 mt-1">いいね！通知</h6>
                                            <%= User.find(n.source_user_id).user_name %>さんがあなたの投稿にいいね！しました。
                                        <% end %>
                                    </div>

                                    <div class="d-flex align-items-center ms-auto">
                                        <%= time_ago_in_words(n.created_at) %>前
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>