<div id="sns_form">

    <%# ! header %>
    <%= render "profile/layouts/header" %>

    <div class="row">
        <%# ! sidebar %>
        <div class="col-lg-3">
            <%= render "profile/layouts/sidebar" %>
        </div>

        <%# ! contents %>
        <div class="list_content col-lg-9 bg-light">
            <div class="">
            <%# * タブメニューエリア %>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a href="#users" class="nav-link active" data-bs-toggle="tab">あなたへ</a>
                    </li>
                    <li class="nav-item">
                        <a href="#admins" class="nav-link" data-bs-toggle="tab">運営より</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <%# ? allタブエリア %>
                    <div id="users" class="tab-pane active">
                        <div class="row">
                        00さんがフォローしました。
                        </div>
                    </div>

                    <div id="admins" class="tab-pane">
                        <div class="row col-lg-8 mx-auto">
                            <% @alerts.each do |a| %>
                            <%= link_to "/profile/alert/show/#{a.id}" do %>
                                <table class="table align-middle mb-0 bg-white">
                                    <tbody>
                                        <tr>
                                            <td><%= a.title %></td>
                                            <td class="text-end"><%= time_ago_in_words(a.created_at) %>前</td>
                                        </tr>
                                    </tbody>
                                </table>
                            <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>