<div id="profile_alerts">
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="side-content">
            <%= render "layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="main-content">
			<%= render "layouts/error" %>

            <div class="show-content mx-auto">
                <h4 class="fw-bold text-center">通知</h4>

                <div class="alert-body">
                    <% if @id.end_with?("_management") %>
                        <h5 class="fw-bold"><%= @alert.title %></h5>

                        <div class="d-flex align-items-center">
                            <%= image_tag "/assets/icons/icn_official.png", class: "alert-image" %>

                            <div class="align-items-center alart-title">
                                <h6 class="fw-bold mb-0 mt-1">MY CLOSET運営</h6>
                                <small><%= @alert.created_at.strftime('%m月%d日 %H:%M') %></small>
                            </div> 
                        </div>

                        <div class="alert-text">
                            <%= simple_format(@alert.content) %>
                        </div>
                    <% else %>
                        <% if @notification.notification_type === "like" %>
                            <% if @source_post_id.nil? %>
                                <h4 class="fw-bold">投稿が削除されました。</h4>
                            <% else %>
                                <h5 class="fw-bold"><%= @source_user_id.user_name %>さんがあなたの投稿にいいねしました。</h5>

                                <div class="d-flex align-items-center">
                                    <%= image_tag "/assets/icons/icn_like.png", class: "alert-image" %>

                                    <div class="align-items-center alert-title">
                                        <h6 class="fw-bold mb-0 mt-1">いいね！通知</h6>
                                        <small><%= @notification.created_at.strftime('%m月%d日 %H:%M') %></small>
                                    </div> 
                                </div>

                                <div class="alert-post text-center">
                                    <%= link_to "/sns/show/#{@source_post_id.id}" do %>
                                        <%= image_tag @source_post_id.photograph.url(:forced_size), class: "post-img" %>
                                    <% end %>
                                </div> 
                            <% end %>
                        <% elsif @notification.notification_type === "answer" %>
                            <% if @source_post_id %>
                                <h4 class="fw-bold">投稿が削除されました。</h4>
                            <% else %>
                                <h5 class="fw-bold"><%= @source_user_id.user_name %>さんがあなたの着こなしの質問に回答しました。</h5>

                                <div class="d-flex align-items-center my-3">
                                    <%= image_tag "/assets/icons/icn_q&a.png", class: "alert-image" %>

                                    <div class="align-items-center alert-title">
                                        <h6 class="fw-bold mb-0 mt-1">回答通知</h6>
                                        <small><%= @notification.created_at.strftime('%m月%d日 %H:%M') %></small>
                                    </div> 
                                </div>

                                <div class="alert-post text-center">
                                    <%= link_to "/question/show/#{@source_answer_post_id.id}" do %>
                                        <%= image_tag @source_answer_post_id.photograph.url(:forced_size), class: "post-img" %>
                                    <% end %>
                                </div>
                            <% end %>
                        <% elsif @notification.notification_type === "follow" %>
                            <h5 class="fw-bold"><%= @source_user_id.user_name %>さんがあなたをフォローしました。</h5>

                            <div class="d-flex align-items-center my-3">
                                <%= image_tag "/assets/icons/icn_follow.png", class: "alert-image" %>

                                <div class="align-items-center alert-title">
                                    <h6 class="fw-bold mb-0 mt-1">フォロー通知</h6>
                                    <small>
                                        <%= @notification.created_at.strftime('%m月%d日 %H:%M') %>
                                    </small>
                                </div> 
                            </div>

                            <div class="alert-post text-center">
                                <%= link_to "/profile/show/#{@source_user_id.id}" do %>
                                    <% if @source_user_id.avatar.url %>
                                        <%= image_tag @source_user_id.avatar.url(:forced_size), class: "post-img" %>
                                    <% else %>
                                        <img src="/assets/user/avatar.png" alt="Generic placeholder image" class="post-img">
                                    <% end %>
                                <% end %>
                            </div>                        
                        <% end %>
                    <% end %>
                    
                    <div class="pt-3 text-center">
                        <a href="/alert/list" class="btn px-5 rounded-pill">
                            <img src="/assets/icons/icn_back.png" alt="">
                            戻る
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>