<div id="profile_alerts">
    <%# ! header %>
    <div class="pc-header">
        <%= render "profile/layouts/pc_header" %>
    </div>

    <div class="row g-0">
        <%# ! sidebar %>
        <div class="col-lg-2 pc-sidebar">
            <div class="sidebar-content d-flex flex-column flex-shrink-0 p-3 bg-white sticky-top vh-100">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link fw-bold d-flex align-items-center" aria-current="page">
                            <i class="bi bi-chat fs-5"></i>
                            SNS
                        </a>
                    </li>
                    <li class="nav-item">
                        <% if user_signed_in? %>
                            <%= link_to "/profile/show/#{current_user.id}", class: "nav-link fw-bold d-flex align-items-center" do %>
                            <i class="bi bi-person fs-5"></i>
                            マイページ
                            <% end %>
                        <% end %>
                    </li>
                    <li class="nav-item">
                        <a href="/closet/list" class="nav-link fw-bold d-flex align-items-center">
                            <i class="bi bi bi-grid fs-5"></i>
                            クローゼット
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/question/list" class="nav-link fw-bold d-flex align-items-center">
                            <i class="bi bi-question-circle fs-5"></i>
                            Q&A
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/suggestion" class="nav-link fw-bold d-flex align-items-center">
                            <i class="bi bi-robot fs-5"></i>
                            AI提案
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/profile/alert/list" class="nav-link active text-white fw-bold d-flex align-items-center">
                            <i class="bi bi-bell fs-5"></i>
                            通知
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact/new" class="nav-link fw-bold d-flex align-items-center">
                            <i class="bi bi-box-arrow-up-right fs-5"></i>
                            お問い合わせ
                        </a>
                    </li>
                    
                </ul>
                <hr>
                <div class="dropdown" style="margin-bottom: 90px;">
                    <%# ? サインインしている場合はユーザ情報、サインアウトしている場合はデフォルト情報が表示される %>
                    <% if user_signed_in? %>
                        <% if current_user.avatar.url == nil %>
                            <%= link_to "/profile/show/#{current_user.id}", class: "d-flex align-items-center text-white text-decoration-none dropdown-toggle", "data-bs-toggle": "dropdown", "aria-expanded": "false" do %>
                                <%= image_tag "/assets/default-avatar.png", size: "30x30", class: "rounded-circle me-2" %>
                                <label class="text-dark"><%= current_user.user_name %></label> 
                            <% end %>
                        <% else %>
                            <%= link_to "/profile/show/#{current_user.id}", class: "d-flex align-items-center text-white text-decoration-none dropdown-toggle", "data-bs-toggle": "dropdown", "aria-expanded": "false" do %>
                                <%= image_tag current_user.avatar.url, size: "30x30", class: "rounded-circle me-2" %>
                                <label class="text-dark"><%= current_user.user_name %></label> 
                            <% end %>
                        <% end %>
                    <% else %>
                        <%= link_to "/", class: "d-flex align-items-center text-white text-decoration-none dropdown-toggle", "data-bs-toggle": "dropdown", "aria-expanded": "false" do %>
                            <%= image_tag "/assets/default-avatar.png", size: "30x30", class: "rounded-circle me-2" %>
                            <label class="text-dark">ゲスト</label> 
                        <% end %>
                    <% end %>
                    <ul class="dropdown-menu text-small shadow">
                        <li class="action-link">
                            <%# ? サインインしている場合はサインアウトボタン、サインアウトしている場合はサインインボタンが表示される %>
                            <% if user_signed_in? %>
                                <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "dropdown-item col-12" %>    
                            <% else %>
                                <%= link_to "サインイン", new_user_session_path, method: :get, class: "dropdown-item col-12" %>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <%# ! contents %>
        <div class="bg-white list_content col-lg-10 col-12">
            <div class="list_content col-lg-8 col-12 mx-auto">

                <div class="bg-white py-5 h-100">
                    <div class="list_content col-lg-9 ">
                        <h1><%= @alert.title %></h1>
                        <p><%= @alert.content %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="sns_form">

    <%# ! header %>
    

    <div class="row">
        <%# ! sidebar %>
        <div class="col-lg-3">
            
        </div>

        <%# ! contents %>
    </div>
</div>