<div id="sns_list">
    <%# ! header %>
    <%= render "suggestion/layouts/header" %>
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="col-lg-3">
            <%= render "suggestion/layouts/sidebar" %>
        </div>

        <%# ! contents %>
        <div class="sns_list col-lg-9">
            <div class="m-3 bg-light">
                <%# * タブメニューエリア %>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a href="#code_suggest" class="nav-link active" data-bs-toggle="tab">おすすめコーデ</a>
                    </li>
                    <li class="nav-item">
                        <a href="#user_suggest" class="nav-link" data-bs-toggle="tab">おすすめユーザ</a>
                    </li>
                </ul>

                <%# * タブエリア %>
                <div class="tab-content">
                    <%# ? AIによるコーデ提案エリア %>
                    <div id="code_suggest" class="tab-pane active">
                        <div class="row">
                            <%# ! 提案データがあるか判定 %>
                            <% if Suggest.exists?(user_id: current_user.id) %>
                                <%= button_to "コーデ提案をする", "/call_gpt_update", method: :post %>
                                <% @suggestions.each do |s| %>
                                    <div class="col-lg-3 m-0 mt-3">
                                        <%= link_to "/sns/show/#{s.id}" do %>
                                            <%= image_tag s.photograph.url, class: "closet_image" %>
                                        <% end %>
                                        <div class="p-2 row">
                                            <div class="col-lg-3">
                                                <%= image_tag "/assets/img_1.png", class: "closet_image", style: "width: 35px; height: 35px; border-radius: 50px;" %>
                                            </div>
                                            <div class="col-lg-9 d-flex align-items-center">
                                                <%= s.user.user_name %><br>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            <% elsif @user.height and @user.weight and @user.gender %>
                                <%= button_to "コーデ提案をする", "/call_gpt", method: :post %>
                            <% else %>
                                プロフィールを入力してください。
                            <% end %>
                        </div>
                    </div>

                    <%# ? Aiによるフォロワー提案タブエリア %>
                    <div id="user_suggest" class="tab-pane">
                        <div class="row">
                            <p>
                                <%= button_to "おすすめフォロワー", "/call_user", method: :post %>
                                <% if Suggest.exists?(user_id: current_user.id) %>
                                    <% @users.each do |u| %>
                                        <h2><%= u.user_name%></h2>
                                        <p><%= u.age %>際</p>
                                    <% end %>
                                <% else %>
                                    プロフィールを入力してください。
                                <% end %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>