<div id="suggestion_suggestions">
    <%# ! header %>
    <div class="pc-header">
        <%= render "suggestion/layouts/pc_header" %>
    </div>

    <div class="row g-0">
        <%# ! sidebar %>
        <div class="col-lg-2 pc-sidebar">
            <%= render "suggestion/layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="list_content col-lg-10">
            <div class="h-100 bg-white">
            <div class="">
                <%# * タブメニューエリア %>
                <ul class="nav nav-underline tab-ul col-lg-8 mx-auto" role="tablist">
                    <li class="nav-item flex-fill">
                        <a href="#code_suggest" class="fw-bold nav-link active text-center" data-bs-toggle="tab">GPT提案</a>
                    </li>
                    <li class="nav-item flex-fill">
                        <a href="#user_suggest" class="fw-bold nav-link text-center" data-bs-toggle="tab">ユーザー提案</a>
                    </li>
                </ul>



                <%# * タブエリア %>
                <div class="tab-content mt-3">
                    <%# ? AIによるコーデ提案エリア %>
                    <div id="code_suggest" class="tab-pane active">
                        <div class="row g-1">
                            <%# ! 提案データがあるか判定 %>
                            <% if Suggest.exists?(user_id: current_user.id) %>
                                <% @suggestions.each do |s| %>
                                    <%# * ログインしている性別のみ出す %>
                                    <% if s.user.gender === current_user.gender %>
                                        <div class="col-lg-3 col-md-4 col-4 mt-1">
                                            <%= link_to "/sns/show/#{s.id}" do %>
                                                <%= image_tag s.photograph.url, class: "suggestion-image" %>
                                            <% end %>
                                        </div>
                                    <% end %>
                                <% end %>
                            <% else %>
                                プロフィールを入力してください。
                            <% end %>
                        </div>
                    </div>

                    <%# ? Aiによるフォロワー提案タブエリア %>
                    <div id="user_suggest" class="tab-pane">
                        <% if current_user.size.blank? || current_user.color.blank? || current_user.total_price.blank? %>
                            <%= form_with(url: "/user_like_create", local: true, html: { class: "needs-validation", novalidate: true }) do |f| %>
                            <div class="mb-3">
                                <p>あなたはオーバーサイズかジャストサイズ、どちらが好きですか？</p>
                                <%= f.radio_button :size, "0", id: "radio-a01", required: true %>
                                <%= f.label :size, "オーバーサイズ", class: "radio-a-label", for: "radio-a01" %>

                                <%= f.radio_button :size, "1", id: "radio-a02", required: true  %>
                                <%= f.label :size, "ジャストサイズ", class: "radio-a-label", for: "radio-a02" %>
                                <div class="invalid-feedback">
                                    好みを設定して下さい。
                                </div>
                            </div>
                            <hr>
                            <div class="mb-3">
                                <p>あなたはモノトールかカラフル、どちらが好きですか？</p>
                                <%= f.radio_button :color, "0", id: "radio-a03", required: true %>
                                <%= f.label :color, "モノトーン", class: "radio-a-label", for: "radio-a03" %>

                                <%= f.radio_button :color, "1", id: "radio-a04", required: true %>
                                <%= f.label :color, "カラフル", class: "radio-a-label", for: "radio-a04" %>
                                <div class="invalid-feedback">
                                    好みを設定して下さい。
                                </div>
                            </div>
                            <hr>
                            <div class="mb-3">
                                <p>あなたが、服に宛てられる予算はいくらですか？</p>
                                <%= f.radio_button :total_price, "0", id: "radio-a06", required: true %>
                                <%= f.label :total_price, "総額1万以下", class: "radio-a-label", for: "radio-a06" %>
                                
                                <%= f.radio_button :total_price, "1", id: "radio-a05", required: true %>
                                <%= f.label :total_price, "総額1万以上", class: "radio-a-label", for: "radio-a05" %>
                                <div class="invalid-feedback">
                                    好みを設定して下さい。
                                </div>
                            </div>
                            <%= f.submit "好み設定", class: "btn mt-3 btn-primary" %>
                            <% end %>

                        <% else %>
                            キョウスケはダチョウ
                        <% end %>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>