<div id="suggestion_suggestions">
    <%# ! header %>
    <div class="pc-header">
        <%= render "suggestion/layouts/pc_header" %>
    </div>

    <div class="row g-0">
        <%# ! sidebar %>
        <div class="col-lg-2 pc-sidebar">
            <%= render "suggestion/layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="list_content col-lg-10">
            <div class="h-100 bg-white">
            <div class="">
                <%# * タブメニューエリア %>
                <ul class="nav nav-underline tab-ul col-lg-8 mx-auto" role="tablist">
                    <li class="nav-item flex-fill">
                        <a href="#code_suggest" class="fw-bold nav-link active text-center" data-bs-toggle="tab">おすすめコーデ</a>
                    </li>
                    <li class="nav-item flex-fill">
                        <a href="#user_suggest" class="fw-bold nav-link text-center" data-bs-toggle="tab">おすすめユーザ</a>
                    </li>
                </ul>



                <%# * タブエリア %>
                <div class="tab-content mt-3">
                    <%# ? AIによるコーデ提案エリア %>
                    <div id="code_suggest" class="tab-pane active">
                        <div class="row g-1">
                            <%# ! 提案データがあるか判定 %>
                            <% if Suggest.exists?(user_id: current_user.id) %>
                                <% @suggestions.each do |s| %>
                                    <%# * ログインしている性別のみ出す %>
                                    <% if s.user.gender === current_user.gender %>
                                        <div class="col-lg-3 col-md-4 col-4 mt-1">
                                            <%= link_to "/sns/show/#{s.id}" do %>
                                                <%= image_tag s.photograph.url, class: "suggestion_image" %>
                                            <% end %>
                                        </div>
                                    <% end %>
                                <% end %>
                            <% else %>
                            <%= link_to "/sns/show/#{s.id}" do %>
                                プロフィールを入力してください。
                            <% end %>
                            <% end %>
                        </div>
                    </div>

                    <%# ? Aiによるフォロワー提案タブエリア %>
                    <div id="user_suggest" class="tab-pane">
                        <div class="row">
                            <p>
                                <% if Suggest.exists?(user_id: current_user.id) %>
                                    <% @users.each do |u| %>
                                        <% if u.gender === current_user.gender %>
                                            <h2><%= u.user_name%></h2>
                                            <p><%= u.age %>際</p>
                                        <% end %>
                                    <% end %>
                                <% else %>
                                    プロフィールを入力してください。
                                <% end %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>







    
      


<div id="sns_list">
    <%# ! header %>
    <%= render "suggestion/layouts/header" %>
    <div class="row">
        <%# ! sidebar %>
        <div class="col-lg-3">
            <%= render "suggestion/layouts/sidebar" %>
        </div>

        <%# ! contents %>
    </div>
</div>