<div id="suggestion_suggestions">
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="side-content">
            <%= render "layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="main-content">
            <%= render "layouts/error" %>

            <% if Suggest.exists?(user_id: current_user.id) %>
                <%= image_tag @img_path, class: "recommend-img" %>
            <% end %>

            <div class="suggest-content mx-auto">
                <%# ! 提案データがあるか判定 %>
                <% if Suggest.exists?(user_id: current_user.id) %>
                    <div class="row g-1">
                        <div class="flex mt-1 d-flex">
                            <%= image_tag @suggest_img_1, class: "sns-image", style: "margin-right: 5px;" %>
                            <%= image_tag @suggest_img_2, class: "sns-image", style: "margin-right: 5px;" %>
                            <%= image_tag @suggest_img_3, class: "sns-image", style: "margin-right: 5px;" %>
                            <%= image_tag @suggest_img_4, class: "sns-image" %>
                        </div>
                    </div>

                    <div class="row g-1 mt-1">
                        <% @recommend.each do |sns| %>
                            <div class="flex">
                                <%= link_to "/sns/show/#{sns.id}" do %>
                                    <%= image_tag sns.photograph.url, class: "sns-image" %>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                <% else %>
                    <%= form_with(model: @suggest, url: "/suggest_create", local: true, :html => {class:"needs-validation ", :novalidate => true}) do |f| %>
                        <div class="question">
                            <p>Q1、あなたはオーバーサイズの洋服かジャストサイズの洋服、どちらが好みですか？</p>

                            <div class="row g-2">
                                <div class="col-6">
                                    <%= f.radio_button :size, -1, id: "over-size", required: true %>

                                    <label for="over-size">
                                        <img src="/assets/suggest/test1.png" alt="" class="select-img">
                                    </label>

                                    <div class="invalid-feedback">
                                        質問に回答してください。
                                    </div>
                                </div>

                                <div class="col-6">
                                    <%= f.radio_button :size, 1, id: "just-size", required: true %>

                                    <label for="just-size">
                                        <img src="/assets/suggest/test2.png" alt="" class="select-img">
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="question">
                            <p>Q2、あなたの瞳の色を選んでください。</p>

                            <div class="row g-2">
                                <div class="col-6">
                                    <%= f.radio_button :eye_color, "黒っぽい", id: "radio1", required: true %>

                                    <label for="radio1">
                                        <img src="/assets/suggest/test1.png" alt="" class="select-img">
                                    </label>
                                </div>

                                <div class="col-6">
                                    <%= f.radio_button :eye_color, "茶色っぽい", id: "radio2", required: true %>

                                    <label for="radio2">
                                        <img src="/assets/suggest/test2.png" alt="" class="select-img">
                                    </label>
                                </div>

                                <div class="col-6">
                                    <%= f.radio_button :eye_color, "黒っぽい", id: "radio3", required: true %>

                                    <label for="radio3">
                                        <img src="/assets/suggest/test1.png" alt="" class="select-img">
                                    </label>

                                    <div class="invalid-feedback">
                                        質問に回答してください。
                                    </div>
                                </div>

                                <div class="col-6">
                                    <%= f.radio_button :eye_color, "茶色っぽい", id: "radio4", required: true %>

                                    <label for="radio4">
                                        <img src="/assets/suggest/test2.png" alt="" class="select-img">
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="question">
                            <p>Q3、あなたの髪の色を選んでください。</p>

                            <div class="row g-2">
                                <div class="col-6">
                                    <%= f.radio_button :hair_color, "黒っぽい", id: "radio5", required: true %>

                                    <label for="radio5">
                                        <img src="/assets/suggest/test1.png" alt="" class="select-img">
                                    </label>
                                </div>

                                <div class="col-6">
                                    <%= f.radio_button :hair_color, "茶色っぽい", id: "radio6", required: true %>

                                    <label for="radio6">
                                        <img src="/assets/suggest/test2.png" alt="" class="select-img">
                                    </label>
                                </div>

                                <div class="col-6">
                                    <%= f.radio_button :hair_color, "黒っぽい", id: "radio7", required: true %>

                                    <label for="radio7">
                                        <img src="/assets/suggest/test1.png" alt="" class="select-img">
                                    </label>

                                    <div class="invalid-feedback">
                                        質問に回答してください。
                                    </div>
                                </div>

                                <div class="col-6">
                                    <%= f.radio_button :hair_color, "茶色っぽい", id: "radio8", required: true %>

                                    <label for="radio8">
                                        <img src="/assets/suggest/test2.png" alt="" class="select-img">
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="question">
                            <p>Q4、あなたの肌の色を選んでください。</p>

                            <div class="row g-2">
                                <div class="col-6">
                                    <%= f.radio_button :skin_color, "黒っぽい", id: "radio9", required: true %>

                                    <label for="radio9">
                                        <img src="/assets/suggest/test1.png" alt="" class="select-img">
                                    </label>
                                </div>

                                <div class="col-6">
                                    <%= f.radio_button :skin_color, "茶色っぽい", id: "radio10", required: true %>

                                    <label for="radio10">
                                        <img src="/assets/suggest/test2.png" alt="" class="select-img">
                                    </label>
                                </div>

                                <div class="col-6">
                                    <%= f.radio_button :skin_color, "黒っぽい", id: "radio11", required: true %>

                                    <label for="radio11">
                                        <img src="/assets/suggest/test1.png" alt="" class="select-img">
                                    </label>

                                    <div class="invalid-feedback">
                                        質問に回答してください。
                                    </div>
                                </div>

                                <div class="col-6">
                                    <%= f.radio_button :skin_color, "茶色っぽい", id: "radio12", required: true %>

                                    <label for="radio12">
                                        <img src="/assets/suggest/test2.png" alt="" class="select-img">
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="question">
                            <p>Q5、この画像を評価してください。</p>

                            <div class="text-center">
                                <img src="/assets/suggest/test1.png" class="evaluation" alt="">
                            </div>

                            <%= f.select :style1, [['5. 好み', '5'], ['4. まあ好み', '4'], ['3. どちらちとも言えない', '3'], ['2. あまり好みじゃない', '2'], ['1. 好みじゃやない', '1']], { include_blank: '評価してください ▾' }, class: 'form-control', required: true %>

                            <div class="invalid-feedback">
                                質問に回答してください。
                            </div>
                        </div>

                        <div class="question">
                            <p>Q6、この画像を評価してください。</p>

                            <div class="text-center">
                                <img src="/assets/suggest/test1.png" class="evaluation" alt="">
                            </div>

                            <%= f.select :style2, [['5. 好み', '5'], ['4. まあ好み', '4'], ['3. どちらちとも言えない', '3'], ['2. あまり好みじゃない', '2'], ['1. 好みじゃやない', '1']], { include_blank: '評価してください ▾' }, class: 'form-control', required: true %>

                            <div class="invalid-feedback">
                                質問に回答してください。
                            </div>
                        </div>

                        <div class="question">
                            <p>Q7、この画像を評価してください。</p>

                            <div class="text-center">
                                <img src="/assets/suggest/test1.png" class="evaluation" alt="">
                            </div>
                                
                            <%= f.select :style3, [['5. 好み', '5'], ['4. まあ好み', '4'], ['3. どちらちとも言えない', '3'], ['2. あまり好みじゃない', '2'], ['1. 好みじゃやない', '1']], { include_blank: '評価してください ▾' }, class: 'form-control', required: true %>

                            <div class="invalid-feedback">
                                質問に回答してください。
                            </div>
                        </div>

                        <div class="question">
                            <p>Q8、あなたが、服に宛てられる予算はいくらですか？</p>

                            <%= f.select :total_price, [['1. 総額10000円以下', '1'], ['2. 総額10000円以上〜15000円以下', '2'], ['3. 総額15000円以上〜20000円以下', '3'], ['4. 総額20000円以上〜25000円以下', '4'], ['5. 総額25000円以上', '5']], { include_blank: '評価してください ▾' }, class: 'form-control', required: true %>

                            <div class="invalid-feedback">
                                質問に回答してください。
                            </div>
                        </div>

                        <div class="col-lg-8 col-12 col-md-8 mx-auto">
                            <div class="row">
                                <div class="col-6">
                                    <a href="/induction" class="btn col-12 cancel-btn">キャンセル</a>
                                </div>
                                <div class="col-6">
                                    <%= f.submit "診断する", class: "btn col-12 submit-btn" %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<script>
    // 無効なフィールドがある場合にフォーム送信を無効にするスターターJavaScriptの例
    (() => {
        'use strict'

        // Bootstrapカスタム検証スタイルを適用してすべてのフォームを取得
        const forms = document.querySelectorAll('.needs-validation')

        // ループして帰順を防ぐ
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>