<div id="sns_posts">
    <%# ! ヘッダーエリア %>
    <div class="mobile-header">
        <%= render "sns/layouts/mobile_header" %>
    </div>

    <div class="pc-header">
        <%= render "sns/layouts/pc_header" %>
    </div>

    <%# ! サイドバーエリアとコンテンツエリア %>
    <div class="row g-0">
        <%# * サイドバーエリア %>
        <div class="col-lg-2-5 pc-sidebar">
            <%= render "sns/layouts/pc_sidebar" %>
        </div>

        <%# * コンテンツエリア %>
        <div class="col-lg-9-5 col-12">
            <div class="list-content">
            
                <% if user_signed_in? %>
                    <form id="myForm" class="d-flex justify-content-end" action="/" method="get">
                        <div class="form-check">
                            <%# ? フォロー中のみに切り替える %>
                            <input type="checkbox" class="form-check-input" value="true" id="formSwitchCheckDefault" name="followed_only" <%= params[:followed_only] == 'true' ? 'checked' : '' %>>
                            <label for="formSwitchCheckDefault" class="form-check-label fw-bold">フォロー中</label>
                        </div>
                    </form>
                <% end %>

                <ul class="tab-menu nav nav-pills nav-fill col-lg-5 col-md-5">
                    <li class="nav-item">
                        <a href="#all" class="nav-link fw-bold active" data-bs-toggle="tab">全て</a>
                    </li>

                    <li class="nav-item mx-2">
                        <a href="#men" class="nav-link fw-bold" data-bs-toggle="tab">男性</a>
                    </li>

                    <li class="nav-item">
                        <a href="#women" class="nav-link fw-bold" data-bs-toggle="tab">女性</a>
                    </li>
                </ul>

                <%= link_to "月間いいねランキングを見る", "/sns/like_ranking" %>

                <p>
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        絞り込み検索
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <%= form_with(url: "/sns/search", local: true,  method: :get, html: { class: "needs-validation col-lg-8 mx-auto", novalidate: true }) do |f| %>
                            <div class="mb-3">
                                <p>季節</p>
                                <%= f.radio_button :season, "春", id: "radio-a01" %>
                                <%= f.label :season, "春", class: "radio-a-label", for: "radio-a01" %>

                                <%= f.radio_button :season, "夏", id: "radio-a02"  %>
                                <%= f.label :season, "夏", class: "radio-a-label", for: "radio-a02" %>
                                <p>身長</p>
                                <%= f.radio_button :height, "150~160", id: "radio-a03" %>
                                <%= f.label :height, "150~160", class: "radio-a-label", for: "radio-a03" %>

                                <%= f.radio_button :height, "160~170", id: "radio-a04" %>
                                <%= f.label :height, "160~170", class: "radio-a-label", for: "radio-a04" %>
                                
                                <%= f.submit "検索", class: "btn btn-primary" %>
                            </div>
                        <% end %>
                    </div>
                </div>

                <div class="tab-content mt-1">
                    <%# ? 全ての投稿を表示する %>
                    <div id="all" class="tab-pane active">
                        <div class="row g-1">
                            <% @snss.each do |sns| %>
                                <div class="col-lg-3 col-md-3 col-4 mt-1">

                                    <%= link_to "/sns/show/#{sns.id}" do %>
                                        <%= image_tag sns.photograph.url, class: "sns-image" %>
                                    <% end %>

                                    <div class="user-area py-2">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <% if sns.user.avatar.present? %>
                                                    <%= link_to "/profile/show/#{sns.user_id}" do %>
                                                        <%= image_tag sns.user.avatar.url %>
                                                    <% end %>
                                                <% else %>
                                                    <%= link_to "/profile/show/#{sns.user_id}" do %>
                                                        <%= image_tag "/assets/user/avatar.png" %>
                                                    <% end %>
                                                <% end %>

                                                <div class="ms-2">
                                                    <div class="fw-bold user-name m-0">
                                                        <%= sns.user.user_name %>
                                                    </div>

                                                    <div class="user-height m-0">
                                                        <% if sns.user.height %>
                                                            <%= sns.user.height %>cm
                                                        <% else %>
                                                            未設定
                                                        <% end %>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mx-2">
                                                <div class="like m-0 d-flex align-items-center">
                                                    <%# ?  いいねできるかどうか判定 %>
                                                    <% if user_signed_in? %>
                                                        <% if SocialLike.where(social_id: sns.id, user_id: current_user.id).exists? %>
                                                            <%= link_to "/sns/delete_like/#{sns.id}", method: :delete do %>
                                                                <i style="color: #E63758;" class="bi bi-heart-fill"></i>
                                                            <% end %>
                                                        <% else %>
                                                            <%= link_to "/sns/create_like/#{sns.id}", method: :post do %>
                                                                <i style="color: #FFFFFF;" class="bi bi-heart"></i>
                                                            <% end %>
                                                        <% end %>
                                                    <% else %>
                                                        <%= link_to "/sns/create_like/#{sns.id}", method: :post do %>
                                                            <i style="color: #FFFFFF;" class="bi bi-heart fs-5"></i>
                                                        <% end %>
                                                    <% end %>

                                                    <span class="number-of-likes align-self-center">
                                                        <%= SocialLike.where(social_id: sns.id).count %>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                            <div class="mt-3">
                                <%= paginate @snss %>
                            </div>
                        </div>
                    </div>

                    <%# ? 男性の投稿のみを表示する %>
                    <div id="men" class="tab-pane">
                        <div class="row g-1">
                            <% @snss.each do |sns| %>
                                <% if sns.user.gender == 1 %>
                                    <div class="col-lg-3 col-md-3 col-4 mt-1">

                                        <%= link_to "/sns/show/#{sns.id}" do %>
                                            <%= image_tag sns.photograph.url, class: "sns-image" %>
                                        <% end %>

                                        <div class="user-area py-2">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <% if sns.user.avatar.present? %>
                                                        <%= link_to "/profile/show/#{sns.user_id}" do %>
                                                            <%= image_tag sns.user.avatar.url %>
                                                        <% end %>
                                                    <% else %>
                                                        <%= link_to "/profile/show/#{sns.user_id}" do %>
                                                            <%= image_tag "/assets/user/avatar.png" %>
                                                        <% end %>
                                                    <% end %>

                                                    <div class="ms-2">
                                                        <div class="fw-bold user-name m-0">
                                                            <%= sns.user.user_name %>
                                                        </div>

                                                        <div class="user-height m-0">
                                                            <% if sns.user.height %>
                                                                <%= sns.user.height %>cm
                                                            <% else %>
                                                                未設定
                                                            <% end %>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mx-2">
                                                    <div class="like m-0 d-flex align-items-center">
                                                        <%# ?  いいねできるかどうか判定 %>
                                                        <% if user_signed_in? %>
                                                            <% if SocialLike.where(social_id: sns.id, user_id: current_user.id).exists? %>
                                                                <%= link_to "/sns/delete_like/#{sns.id}", method: :delete do %>
                                                                    <i style="color: #E63758;" class="bi bi-heart-fill"></i>
                                                                <% end %>
                                                            <% else %>
                                                                <%= link_to "/sns/create_like/#{sns.id}", method: :post do %>
                                                                    <i style="color: #FFFFFF;" class="bi bi-heart"></i>
                                                                <% end %>
                                                            <% end %>
                                                        <% else %>
                                                            <%= link_to "/sns/create_like/#{sns.id}", method: :post do %>
                                                                <i style="color: #FFFFFF;" class="bi bi-heart fs-5"></i>
                                                            <% end %>
                                                        <% end %>

                                                        <span class="number-of-likes align-self-center">
                                                            <%= SocialLike.where(social_id: sns.id).count %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>

                            <div class="mt-3">
                                <%= paginate @snss %>
                            </div>
                        </div>
                    </div>

                    <%# ? 女性の投稿のみを表示する %>
                    <div id="women" class="tab-pane">
                        <div class="row g-1">
                            <% @snss.each do |sns| %>
                                <% if sns.user.gender == -1 %>
                                    <div class="col-lg-3 col-md-3 col-4 mt-1">

                                        <%= link_to "/sns/show/#{sns.id}" do %>
                                            <%= image_tag sns.photograph.url, class: "sns-image" %>
                                        <% end %>

                                        <div class="user-area py-2">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <% if sns.user.avatar.present? %>
                                                        <%= link_to "/profile/show/#{sns.user_id}" do %>
                                                            <%= image_tag sns.user.avatar.url %>
                                                        <% end %>
                                                    <% else %>
                                                        <%= link_to "/profile/show/#{sns.user_id}" do %>
                                                            <%= image_tag "/assets/user/avatar.png" %>
                                                        <% end %>
                                                    <% end %>

                                                    <div class="ms-2">
                                                        <div class="fw-bold user-name m-0">
                                                            <%= sns.user.user_name %>
                                                        </div>

                                                        <div class="user-height m-0">
                                                            <% if sns.user.height %>
                                                                <%= sns.user.height %>cm
                                                            <% else %>
                                                                未設定
                                                            <% end %>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mx-2">
                                                    <div class="like m-0 d-flex align-items-center">
                                                        <%# ?  いいねできるかどうか判定 %>
                                                        <% if user_signed_in? %>
                                                            <% if SocialLike.where(social_id: sns.id, user_id: current_user.id).exists? %>
                                                                <%= link_to "/sns/delete_like/#{sns.id}", method: :delete do %>
                                                                    <i style="color: #E63758;" class="bi bi-heart-fill"></i>
                                                                <% end %>
                                                            <% else %>
                                                                <%= link_to "/sns/create_like/#{sns.id}", method: :post do %>
                                                                    <i style="color: #FFFFFF;" class="bi bi-heart"></i>
                                                                <% end %>
                                                            <% end %>
                                                        <% else %>
                                                            <%= link_to "/sns/create_like/#{sns.id}", method: :post do %>
                                                                <i style="color: #FFFFFF;" class="bi bi-heart fs-5"></i>
                                                            <% end %>
                                                        <% end %>

                                                        <span class="number-of-likes align-self-center">
                                                            <%= SocialLike.where(social_id: sns.id).count %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>

                            <div class="mt-3">
                                <%= paginate @snss %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>