<div id="sns_posts">
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="side-content">
            <%= render "layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="main-content">
            <div class="new-edit-content mx-auto">
                <h3 class="fw-bold text-center">コーディネート新規投稿</h3>

                <%= form_with(model: @social, url: "/sns/create", local: true) do |f| %>
                    <div class="mb-3">
                        <%= f.text_field :title, class: "form-control", placeholder: "投稿タイトルを入力..." %>

                        <div>
                            <% @social.errors[:title].each do |error| %>
                                <small class="text-danger">コーディネートタイトルを入力してください。</small>
                            <% end %>
                        </div>
                    </div>

                    <div class="mb-3">
                        <%= f.select :tag, ['カジュアルスタイル', 'ストリートスタイル', 'アメカジスタイル', 'ルードスタイル', 'アウトドアスタイル', 'デザイナースタイル', 'ベーシックスタイル', 'モードスタイル', 'ラグジュアリースタイル', 'ガーリースタイル', 'ナチュラルスタイル'], {include_blank: 'コーディネートスタイルを選択 ▾'}, class: 'form-control' %>

                        <div>
                            <% @social.errors[:tag].each do |error| %>
                                <small class="text-danger">コーディネートスタイルを選択してください。</small>
                            <% end %>
                        </div>
                    </div>

                    <div class="mb-3">
                        <%# * 投稿文の入力 %>
                        <%= f.text_area :message, class: "form-control", placeholder: "投稿文を入力...", style: "height: 120px;" %>
                    </div>

                    <div class="mb-3">
                        <label class="fw-bold">コーディネート画像を追加</label><br>
                        <button type="button" class="coordinate" data-bs-toggle="modal" data-bs-target="#CoordinateModal">
                            <div id="image-preview" class="preview"></div>
                        </button>

                        <div class="modal fade modal-area modal-dialog-scrollable" id="CoordinateModal" tabindex="-1" aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title fs-6 fw-bold mx-auto" id="exampleModalLabel">コーディネート画像を設定</h6>
                                    </div>

                                    <div class="modal-body">
                                        <div class="coordinate-modal">
                                            <%= f.file_field :photograph, class: "form-control", id: "file-input" %>
                                        </div>
                                    </div>

                                    <div class="modal-footer post-area text-center">
                                        <div class="mx-auto">
                                            <button type="button" class="btn px-3 text-white border" data-bs-dismiss="modal">キャンセル</button>
                                            <button type="button" class="btn px-3 submit-btn" data-bs-dismiss="modal">選択</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <% @social.errors[:photograph].each do |error| %>
                                <small class="text-danger">コーディネート画像を設定してください。</small>
                            <% end %>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="fw-bold">着用アイテムを追加</label><br>
                        <button type="button" class="text-start btn col-12 item" data-bs-toggle="modal" data-bs-target="#Item1Modal">
                            着用アイテムを選択 ▾
                        </button>

                        <div class="modal fade modal-area modal-dialog-scrollable" id="Item1Modal" tabindex="-1" aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header-origin">
                                        <h6 class="modal-title fs-6 fw-bold text-center" id="exampleModalLabel">着用した洋服を追加</h6>
                                        <div id="messageContainer" class="text-danger small text-center"></div>
                                    </div>

                                    <div class="modal-body">
                                        <div id="scrollContainer" class="mx-auto">
                                            <div class="row g-1">
                                                <% @closets_all.each do |closet| %>
                                                    <div class="flex">
                                                        <%= label_tag "element_#{closet.id}", image_tag(closet.photograph.url(:forced_size), class: "sns-post-image"), class: "checkbox-image-label mb-0" %>

                                                        <%= check_box_tag 'elements[]', closet.id, false, id: "element_#{closet.id}", class: "checkbox-image" %>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer post-area text-center">
                                        <div class="mx-auto">
                                            <button type="button" class="btn px-3 text-white border" data-bs-dismiss="modal" id="resetButton">キャンセル</button>
                                            <button type="button" class="btn px-3 submit-btn" data-bs-dismiss="modal">選択</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-12 col-md-8 mx-auto" style="margin-top: 100px;">
                        <div class="row">
                            <div class="col-6">
                                <a href="/" class="btn col-12 cancel-btn">キャンセル</a>
                            </div>

                            <div class="col-6">
                                <%= f.submit "投稿する", data: { disable_with: "投稿中..." }, class: "btn col-12 submit-btn" %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<script>
    <%# ! htmlの要素が読み込まれたら処理を開始する %>
    $(document).ready(function() {
        <%# * 処理の目的 => 選択された画像をプレビューする %>
        <%# * 入力 => 選択した画像 %>
        <%# * 加工 => 選択した画像を取得し、プレビューする %>
        <%# * 出力 => プレビュー %>
        const fileInput = document.getElementById('file-input');
        const preview = document.getElementById('image-preview');
        const reader = new FileReader();

        const defaultImage = createPreviewImage("/assets/adds/img_add.png", 'デフォルト画像');
        preview.appendChild(defaultImage);

        fileInput.addEventListener('change', handleFileChange);

        function handleFileChange(event) {
            const file = event.target.files[0];
            reader.onload = function(e) {
                clearPreview();
                const image = createPreviewImage(e.target.result, 'プレビュー画像');
                preview.appendChild(image);
            };
            reader.readAsDataURL(file);
        }

        function createPreviewImage(src, altText) {
            const image = new Image();
            image.src = src;
            image.alt = altText;
            setPreviewStyles(image);
            return image;
        }

        function setPreviewStyles(imageElement) {
            imageElement.classList.add('preview');
            imageElement.style.width = '189px';
            imageElement.style.height = '262px';
            imageElement.style.objectFit = 'cover';
            imageElement.style.borderRadius = '10px';
        }

        function clearPreview() {
            preview.innerHTML = '';
        }

        <%# * 処理の目的 => クローゼットから選択した洋服を表示する %>
        <%# * 入力 => 選択した洋服 %>
        <%# * 加工 => 選択された洋服を選択した順に番号をつける %>
        <%# * 出力 => プレビュー %>
        var maxSelection = 6;
        var checkboxes = $('.checkbox-image');
        var selectedImages = [];
        var markCounter = 1;
        var messageContainer = $('#messageContainer');

        checkboxes.change(function() {
            var selectedCount = checkboxes.filter(':checked').length;
            var image = $(this).prev('.checkbox-image-label').find('img');
            var label = $(this).prev('.checkbox-image-label');

            if ($(this).is(':checked')) {
                if (selectedCount <= maxSelection) {
                    var mark = $('<span class="image-mark">' + markCounter + '</span>');
                    markCounter++;
                    selectedImages.push({
                        image: image,
                        mark: mark,
                    });
                    image.addClass('selected-image');
                    label.append(mark).css('position', 'relative');
                } else {
                    $(this).prop('checked', false);
                    showMessage('アイテムの最大選択数は6アイテムまでです。');
                }
            } else {
                var index = selectedImages.findIndex(function(item) {
                    return item.image.is(image);
                });
                if (index > -1) {
                    var removedItem = selectedImages.splice(index, 1)[0];
                    removedItem.image.removeClass('selected-image');
                    removedItem.mark.remove();
                }
                selectedImages.forEach(function(item, index) {
                    item.mark.text(index + 1);
                });
                markCounter--;
            }

            if (selectedCount <= maxSelection) {
                hideMessage();
            }
        });

        function showMessage(message) {
            messageContainer.text(message).show();
            alert("アイテムの最大選択数は6件です。")
        }

        function hideMessage() {
            messageContainer.hide();
        }

        $('#resetButton').click(function() {
            checkboxes.prop('checked', false);
            selectedImages = [];
            $('.selected-image').removeClass('selected-image');
            $('.image-mark').remove();
            hideMessage();
        });
    });
</script>