<div id="posts">
    <%# ! header %>
    <div class="mobile-header">
        <%= render "sns/layouts/mobile_header" %>
    </div>

    <div class="pc-header">
        <%= render "sns/layouts/pc_header" %>
    </div>

    <div class="row g-0">
        <%# ! sidebar %>
        <div class="col-lg-2 pc-sidebar">
            <%= render "sns/layouts/pc_sidebar" %>
        </div>

        <div class="col-12 mobile-sidebar">
            <%= render "sns/layouts/mobile_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="list_content col-lg-10 col-12">
            <div class="mx-3 bg-white py-5">
                <%# * バリデーションチェク %>
                <% if @social.errors.any? %>
                    <div class="alert alert-danger col-lg-8 mx-auto" role="alert">
                        <% @social.errors.each do |error| %>
                            <strong>エラー！</strong> - <%= error.full_message %><br>
                        <% end %>
                    </div>
                <% end %>

                <%# * 投稿フォーム %>
                <%= form_with(model: @social, url: "/sns/create", local: true, :html => {class:"needs-validation col-lg-8 mx-auto", :novalidate => true}) do |f| %>
                    <div class="mb-3">
                    <%= f.select :tag, ['カジュアルスタイル', 'ストリートスタイル', 'アメカジスタイル', 'ルードスタイル', 'アウトドアスタイル', 'デザイナースタイル', 'ベーシックスタイル', 'モードスタイル', 'ラグジュアリースタイル', 'ガーリースタイル', 'ナチュラルスタイル'], {include_blank: 'スタイルを選択してください'}, class: 'form-control', required: true %>
                    <div class="invalid-feedback">
                        スタイルを入力して下さい。
                    </div>
                    </div>

                    <div class="mb-3">
                        <%= f.text_field :message, class: "form-control", placeholder: "投稿文" %>
                    </div>

                    <div class="mb-3">
                        <%= f.file_field :photograph, class: "form-control", placeholder: "写真", required: true %>
                        <div class="invalid-feedback">
                            写真を入力して下さい。
                        </div>
                    </div>

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                アイテム1
                            </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <%# * タブメニューエリア %>
                                    <ul class="nav nav-underline col-lg-12" role="tablist">
                                        <li class="nav-item flex-fill">
                                            <a href="#all" class="nav-link active text-center" data-bs-toggle="tab">すべて</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#outer" class="nav-link text-center" data-bs-toggle="tab">アウター</a>
                                        </li>
                                                
                                        <li class="nav-item flex-fill">
                                            <a href="#tops" class="nav-link text-center" data-bs-toggle="tab">トップス</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#pants" class="nav-link text-center" data-bs-toggle="tab">パンツ</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#shoes" class="nav-link text-center" data-bs-toggle="tab">シューズ</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#other" class="nav-link text-center" data-bs-toggle="tab">その他</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <%# ? allタブエリア %>
                                        <div id="all" class="tab-pane active">
                                            <div class="row">
                                                <% @closets_all.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item1, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? outerタブエリア %>
                                        <div id="outer" class="tab-pane">
                                            <div class="row">
                                                <% @closets_outer.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item1, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? topsタブエリア %>
                                        <div id="tops" class="tab-pane">
                                            <div class="row">
                                                <% @closets_tops.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item1, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? pantsタブエリア %>
                                        <div id="pants" class="tab-pane">
                                            <div class="row">
                                                <% @closets_pants.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item1, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? shoesタブエリア %>
                                        <div id="shoes" class="tab-pane">
                                            <div class="row">
                                                <% @closets_shoes.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item1, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? otherタブエリア %>
                                        <div id="other" class="tab-pane">
                                            <div class="row">
                                                <% @closets_other.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item1, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    アイテム2
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <%# * タブメニューエリア %>
                                    <ul class="nav nav-underline col-lg-12" role="tablist">
                                        <li class="nav-item flex-fill">
                                            <a href="#all2" class="nav-link active text-center" data-bs-toggle="tab">すべて</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#outer2" class="nav-link text-center" data-bs-toggle="tab">アウター</a>
                                        </li>
                                                
                                        <li class="nav-item flex-fill">
                                            <a href="#tops2" class="nav-link text-center" data-bs-toggle="tab">トップス</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#pants2" class="nav-link text-center" data-bs-toggle="tab">パンツ</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#shoes2" class="nav-link text-center" data-bs-toggle="tab">シューズ</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#other2" class="nav-link text-center" data-bs-toggle="tab">その他</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <%# ? allタブエリア %>
                                        <div id="all2" class="tab-pane active">
                                            <div class="row">
                                                <% @closets_all.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item2, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? outerタブエリア %>
                                        <div id="outer2" class="tab-pane">
                                            <div class="row">
                                                <% @closets_outer.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item2, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? topsタブエリア %>
                                        <div id="tops2" class="tab-pane">
                                            <div class="row">
                                                <% @closets_tops.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item2, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? pantsタブエリア %>
                                        <div id="pants2" class="tab-pane">
                                            <div class="row">
                                                <% @closets_pants.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item2, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? shoesタブエリア %>
                                        <div id="shoes2" class="tab-pane">
                                            <div class="row">
                                                <% @closets_shoes.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item2, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? otherタブエリア %>
                                        <div id="other2" class="tab-pane">
                                            <div class="row">
                                                <% @closets_other.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item2, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    アイテム3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <%# * タブメニューエリア %>
                                    <ul class="nav nav-underline col-lg-12" role="tablist">
                                        <li class="nav-item flex-fill">
                                            <a href="#all3" class="nav-link active text-center" data-bs-toggle="tab">すべて</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#outer3" class="nav-link text-center" data-bs-toggle="tab">アウター</a>
                                        </li>
                                                
                                        <li class="nav-item flex-fill">
                                            <a href="#tops3" class="nav-link text-center" data-bs-toggle="tab">トップス</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#pants3" class="nav-link text-center" data-bs-toggle="tab">パンツ</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#shoes3" class="nav-link text-center" data-bs-toggle="tab">シューズ</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#other3" class="nav-link text-center" data-bs-toggle="tab">その他</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <%# ? allタブエリア %>
                                        <div id="all3" class="tab-pane active">
                                            <div class="row">
                                                <% @closets_all.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item3, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? outerタブエリア %>
                                        <div id="outer3" class="tab-pane">
                                            <div class="row">
                                                <% @closets_outer.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item3, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? topsタブエリア %>
                                        <div id="tops3" class="tab-pane">
                                            <div class="row">
                                                <% @closets_tops.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item3, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? pantsタブエリア %>
                                        <div id="pants3" class="tab-pane">
                                            <div class="row">
                                                <% @closets_pants.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item3, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? shoesタブエリア %>
                                        <div id="shoes3" class="tab-pane">
                                            <div class="row">
                                                <% @closets_shoes.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item3, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? otherタブエリア %>
                                        <div id="other3" class="tab-pane">
                                            <div class="row">
                                                <% @closets_other.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item3, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    アイテム4
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <%# * タブメニューエリア %>
                                    <ul class="nav nav-underline col-lg-12" role="tablist">
                                        <li class="nav-item flex-fill">
                                            <a href="#all4" class="nav-link active text-center" data-bs-toggle="tab">すべて</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#outer4" class="nav-link text-center" data-bs-toggle="tab">アウター</a>
                                        </li>
                                                
                                        <li class="nav-item flex-fill">
                                            <a href="#tops4" class="nav-link text-center" data-bs-toggle="tab">トップス</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#pants4" class="nav-link text-center" data-bs-toggle="tab">パンツ</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#shoes4" class="nav-link text-center" data-bs-toggle="tab">シューズ</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#other4" class="nav-link text-center" data-bs-toggle="tab">その他</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <%# ? allタブエリア %>
                                        <div id="all4" class="tab-pane active">
                                            <div class="row">
                                                <% @closets_all.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item4, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? outerタブエリア %>
                                        <div id="outer4" class="tab-pane">
                                            <div class="row">
                                                <% @closets_outer.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item4, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? topsタブエリア %>
                                        <div id="tops4" class="tab-pane">
                                            <div class="row">
                                                <% @closets_tops.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item4, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? pantsタブエリア %>
                                        <div id="pants4" class="tab-pane">
                                            <div class="row">
                                                <% @closets_pants.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item4, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? shoesタブエリア %>
                                        <div id="shoes4" class="tab-pane">
                                            <div class="row">
                                                <% @closets_shoes.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item4, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? otherタブエリア %>
                                        <div id="other4" class="tab-pane">
                                            <div class="row">
                                                <% @closets_other.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item4, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    アイテム5
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <%# * タブメニューエリア %>
                                    <ul class="nav nav-underline col-lg-12" role="tablist">
                                        <li class="nav-item flex-fill">
                                            <a href="#all5" class="nav-link active text-center" data-bs-toggle="tab">すべて</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#outer5" class="nav-link text-center" data-bs-toggle="tab">アウター</a>
                                        </li>
                                                
                                        <li class="nav-item flex-fill">
                                            <a href="#tops5" class="nav-link text-center" data-bs-toggle="tab">トップス</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#pants5" class="nav-link text-center" data-bs-toggle="tab">パンツ</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#shoes5" class="nav-link text-center" data-bs-toggle="tab">シューズ</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#other5" class="nav-link text-center" data-bs-toggle="tab">その他</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <%# ? allタブエリア %>
                                        <div id="all5" class="tab-pane active">
                                            <div class="row">
                                                <% @closets_all.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item5, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? outerタブエリア %>
                                        <div id="outer5" class="tab-pane">
                                            <div class="row">
                                                <% @closets_outer.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item5, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? topsタブエリア %>
                                        <div id="tops5" class="tab-pane">
                                            <div class="row">
                                                <% @closets_tops.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item5, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? pantsタブエリア %>
                                        <div id="pants5" class="tab-pane">
                                            <div class="row">
                                                <% @closets_pants.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item5, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? shoesタブエリア %>
                                        <div id="shoes5" class="tab-pane">
                                            <div class="row">
                                                <% @closets_shoes.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item5, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? otherタブエリア %>
                                        <div id="other5" class="tab-pane">
                                            <div class="row">
                                                <% @closets_other.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item5, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    アイテム6
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <%# * タブメニューエリア %>
                                    <ul class="nav nav-underline col-lg-12" role="tablist">
                                        <li class="nav-item flex-fill">
                                            <a href="#all6" class="nav-link active text-center" data-bs-toggle="tab">すべて</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#outer6" class="nav-link text-center" data-bs-toggle="tab">アウター</a>
                                        </li>
                                                
                                        <li class="nav-item flex-fill">
                                            <a href="#tops6" class="nav-link text-center" data-bs-toggle="tab">トップス</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#pants6" class="nav-link text-center" data-bs-toggle="tab">パンツ</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#shoes6" class="nav-link text-center" data-bs-toggle="tab">シューズ</a>
                                        </li>

                                        <li class="nav-item flex-fill">
                                            <a href="#other6" class="nav-link text-center" data-bs-toggle="tab">その他</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <%# ? allタブエリア %>
                                        <div id="all6" class="tab-pane active">
                                            <div class="row">
                                                <% @closets_all.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item6, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? outerタブエリア %>
                                        <div id="outer6" class="tab-pane">
                                            <div class="row">
                                                <% @closets_outer.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item6, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? topsタブエリア %>
                                        <div id="tops6" class="tab-pane">
                                            <div class="row">
                                                <% @closets_tops.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item6, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? pantsタブエリア %>
                                        <div id="pants6" class="tab-pane">
                                            <div class="row">
                                                <% @closets_pants.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item6, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? shoesタブエリア %>
                                        <div id="shoes6" class="tab-pane">
                                            <div class="row">
                                                <% @closets_shoes.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item6, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>

                                        <%# ? otherタブエリア %>
                                        <div id="other6" class="tab-pane">
                                            <div class="row">
                                                <% @closets_other.each do |c| %>
                                                    <div class="col-lg-2 m-0 mt-3 row input-container">
                                                        <%= f.radio_button :item6, c.id, class: "radio-button" %>
                                                        <div class="radio-tile">
                                                            <div class="icon walk-icon">
                                                                <%= image_tag c.photograph.url, size: '120x180' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <%= f.submit "登録する", class: "btn mt-3 btn-primary" %>
                <% end %>
      
            </div>
        </div>
    </div>
</div>