<div id="sns_posts">
    <%# ! header %>
    <div class="mobile-header">
        <%= render "sns/layouts/mobile_header" %>
    </div>

    <div class="pc-header">
        <%= render "sns/layouts/pc_header" %>
    </div>

    <div class="row g-0">
        <%# ! sidebar %>
        <div class="col-lg-2-5 pc-sidebar">
            <%= render "sns/layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="col-lg-9-5 col-12">
            <div class="new-content py-5">
                <%# * バリデーションチェク %>
                <% if @social.errors.any? %>
                    <div class="alert alert-danger col-lg-8 mx-auto" role="alert">
                        <% @social.errors.each do |error| %>
                            <strong>エラー！</strong> - <%= error.full_message %><br>
                        <% end %>
                    </div>
                <% end %>

                <%# * 投稿フォーム %>
                <%= form_with(model: @social, url: "/sns/create", local: true, :html => {class:"needs-validation col-lg-8 mx-auto", :novalidate => true}) do |f| %>
                    <div class="mb-3">
                        <%# * アイテムのカテゴリーを選択 %>
                        <%= f.select :tag, ['カジュアルスタイル', 'ストリートスタイル', 'アメカジスタイル', 'ルードスタイル', 'アウトドアスタイル', 'デザイナースタイル', 'ベーシックスタイル', 'モードスタイル', 'ラグジュアリースタイル', 'ガーリースタイル', 'ナチュラルスタイル'], {include_blank: 'スタイルを選択してください'}, class: 'form-control', required: true %>
                        <div class="invalid-feedback">
                            スタイルを入力して下さい。
                        </div>
                    </div>

                    <div class="mb-3">
                        <%# * 投稿文の入力 %>
                        <%= f.text_field :message, class: "form-control", placeholder: "投稿文" %>
                    </div>

                    <div class="mb-3">
                        <%# * アイテム画像の挿入 %>
                        <%= f.file_field :photograph, class: "form-control", placeholder: "写真", required: true %>
                        <div class="invalid-feedback">
                            写真を入力して下さい。
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="mb-2">
                            着用アイテム（6件まで追加できます）
                        </label>

                        <p id="messageContainer" class="text-danger small"></p>

                        <div id="scroll">
                            <div id="scrollContainer" class="row g-1">
                                <%# * @closets_allをforeachして一件ずつ表示する %>
                                <% @closets_all.each do |c| %>
                                    <div class="col-lg-2">
                                        <%# * クローゼットアイテムの画像の表示 %>
                                        <%= label_tag "element_#{c.id}", image_tag(c.photograph.url, class: "sns-post-image"), class: "checkbox-image-label" %>

                                        <%# * クローゼットアイテムをチェックボックス化して選択させる %>
                                        <%= check_box_tag 'elements[]', c.id, false, id: "element_#{c.id}", class: "checkbox-image" %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>

                    <%# * 入力されたデータを登録する処理 %>
                    <%= f.submit "登録する", class: "btn mt-3 btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>
</div>


