<div id="sns_posts">
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="side-content">
            <%= render "layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="main-content">
            <div class="show-content mx-auto">
                <div class="row">
                    <div class="col-lg-6 left-content">
                        <%= image_tag @sns.photograph.url, class: "sns-show-img" %>

                        <div class="d-flex align-items-center user-area">
                            <%= link_to "/profile/show/#{@sns.user.id}" do %>
                                <% if @sns.user.avatar.url%>
                                    <%= image_tag @sns.user.avatar.url, class: "user-img" %>
                                <% else %>
                                    <%= image_tag "/assets/user/avatar.png", class: "user-img" %>
                                <% end %>
                            <% end %>

                            <div class="align-items-center">    
                                <h6 class="mb-0 fw-bold"><%= @sns.user.user_name %></h6>
                                <small>
                                    <% if @sns.user.height %>
                                        <%= @sns.user.height %>cm
                                    <% else %>
                                        身長未設定    
                                    <% end %>
                                </small>
                            </div>
                        </div>

                        <div class="d-flex align-items-center like-area">
                            <% if user_signed_in? %>
                                <% if SocialLike.where(social_id: @sns.id, user_id: current_user.id).exists? %>
                                    <%= link_to "/sns/delete_like/#{@sns.id}", method: :delete do %>
                                        <img src="/assets/icons/icn_heart.png" alt="">
                                    <% end %>
                                <% else %>
                                    <%= link_to "/sns/create_like/#{@sns.id}", method: :post do %>
                                        <img src="/assets/icons/icn_not_heart.png" alt="">
                                    <% end %>
                                <% end %>
                            <% else %>
                                <%= link_to "/sns/create_like/#{@sns.id}", method: :post do %>
                                    <img src="/assets/icons/icn_not_heart.png" alt="">
                                <% end %>
                            <% end %>

                            <div class="align-items-center number-of-like">    
                                <%= SocialLike.where(social_id: @sns.id).count %>人のユーザがいいねしました！
                            </div>
                        </div>

                        <div class="himself_area row">
                            <% if user_signed_in? %>
                                <% if current_user.id == @sns.user.id  %>
                                    <div class="col-lg-6">
                                        <%= link_to "コーディネートを削除", "/sns/delete/#{@sns.id}", method: :delete, class: "delete-btn btn col-12" %>
                                    </div>
                                    
                                    <div class="col-lg-6">
                                        <%= link_to "コーディネートを編集", "/sns/edit/#{@sns.id}", class: "edit-btn btn col-12" %>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                    </div>

                    <div class="col-lg-6 right-content">
                        <h4 class="title fw-bold mb-0"><%= @sns.title %></h4>
                        
                        <div class="message">
                            <%= simple_format(@sns.message) %>
                        </div>

                        <div>
                            <span><%= @sns.created_at.strftime('%m月%d日 %H:%M') %></span>
                        </div>

                        <div class="tag btn px-2">
                            ＃<%= @sns.tag %>
                        </div>

                        <div class="row g-2 item-area">
                            <label class="fw-bold">着用アイテム</label>
                            <div class="col-lg-4">
                                <% if @item1 %>
                                    <%= link_to "/closet/show/#{@item1.id}" do %>
                                        <%= image_tag @item1.photograph.url, class: "item-img" %>
                                    <% end %>
                                <% end %>
                            </div>

                            <div class="col-lg-4">
                                <% if @item2 %>
                                    <%= link_to "/closet/show/#{@item2.id}" do %>
                                        <%= image_tag @item2.photograph.url, class: "item-img" %>
                                    <% end %>
                                <% end %>
                            </div>

                            <div class="col-lg-4">
                                <% if @item3 %>
                                    <%= link_to "/closet/show/#{@item3.id}" do %>
                                        <%= image_tag @item3.photograph.url, class: "item-img" %>
                                    <% end %>
                                <% end %>
                            </div>

                            <div class="col-lg-4 mt-2">
                                <% if @item4 %>
                                    <%= link_to "/closet/show/#{@item4.id}" do %>
                                        <%= image_tag @item4.photograph.url, class: "item-img" %>
                                    <% end %>
                                <% end %>
                            </div>

                            <div class="col-lg-4 mt-2">
                                <% if @item5 %>
                                    <%= link_to "/closet/show/#{@item5.id}" do %>
                                        <%= image_tag @item5.photograph.url, class: "item-img" %>
                                    <% end %>
                                <% end %>
                            </div>

                            <div class="col-lg-4 mt-2">
                                <% if @item6 %>
                                    <%= link_to "/closet/show/#{@item6.id}" do %>
                                        <%= image_tag @item6.photograph.url, class: "item-img" %>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="back-btn">
                    <a href="/" class="btn px-5 rounded-pill">&lt; 戻る</a>
                </div>
            </div>
        </div>
    </div>
</div>