<div id="closet_show">
    <%# ! header %>
    <%= render "coordinates/layouts/header" %>
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="col-lg-3">
            <%= render "coordinates/layouts/sidebar" %>
        </div>

        <%# ! contents %>
        <div class="list_content col-lg-9">
            <div class="m-3 bg-light">
                <div class="row">
                    <div class="col-lg-6">
                        <%= image_tag @sns.photograph.url, class: "closet_image" %>
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-white m-2 row">
                            <div class="col-lg-2">
                                <%= image_tag "/assets/img_1.png", class: "closet_image", style: "width: 60px; height: 60px; border-radius: 50px;" %>
                            </div>
                            <div class="col-lg-7 d-flex align-items-center">
                                <%= @sns.user.user_name %>
                            </div>
                            <div class="col-lg-3 d-flex align-items-center">
                                <button class="btn btn-primary">フォロー</button>
                            </div>
                        </div>
                        <div class="bg-white m-2 row">
                            <div class="col-lg-12 fw-bold">
                                <%= @sns.message %>
                            </div>
                        </div>
                        <div class="bg-white m-2 row">
                            <div class="col-lg-12">
                               #<%= @sns.tag %>
                            </div>
                        </div>
                        <div class="bg-white m-2 row">
                            <h4>着用アイテム</h4>
                            <div class="col-lg-4">
                                <%= image_tag @item1.photograph.url, style: "width: 150px; height: 200px; " %>
                            </div>
                            <div class="col-lg-4">
                                <%# <%= image_tag @item1.photograph.url, style: "width: 150px; height: 200px; " %> %>
                            </div>
                            <div class="col-lg-4">
                                <%# <%= image_tag @item1.photograph.url, style: "width: 150px; height: 200px; " %> %>
                            </div>
                            <div class="col-lg-4 mt-1">
                                <%# <%= image_tag @item1.photograph.url, style: "width: 150px; height: 200px; " %> %>
                            </div>
                            <div class="col-lg-4 mt-1">
                                <%# <%= image_tag @item1.photograph.url, style: "width: 150px; height: 200px; " %> %>
                            </div>
                            <div class="col-lg-4 mt-1">
                                <%# <%= image_tag @item1.photograph.url, style: "width: 150px; height: 200px; " %> %>
                            </div>
                        </div>
                        <div class="bg-white m-2 row mt-2">
                            <div class="col-lg-6">
                                <%= time_ago_in_words(@sns.created_at) %>前
                            </div>
                            <div class="col-lg-6 text-end">
                                ❤️
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>