<div id="posts">
    <%# ! header %>
    <div class="mobile-header">
        <%= render "sns/layouts/mobile_header" %>
    </div>

    <div class="pc-header">
        <%= render "sns/layouts/pc_header" %>
    </div>

    <div class="row g-0">
        <%# ! sidebar %>
        <div class="col-lg-2 pc-sidebar">
            <%= render "sns/layouts/pc_sidebar" %>
        </div>

        <div class="col-12 mobile-sidebar">
            <%= render "sns/layouts/mobile_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="list_content col-lg-10 col-12">
            <div class="mx-3">
                <div class="row">
                    <div class="col-lg-6">
                        <%= image_tag @sns.photograph.url, class: "sns_show_image" %>
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-white row m-1">
                            <div class="col-lg-2">
                                <%= image_tag "/assets/img_1.png", class: "sns_image", style: "width: 60px; height: 60px; border-radius: 50px;" %>
                            </div>
                            <div class="fw-bold col-lg-7 d-flex align-items-center">
                                <%= @sns.user.user_name %>
                            </div>
                            <div class="col-lg-3 d-flex align-items-center">
                                <button class="btn btn-primary">フォロー</button>
                            </div>
                        </div>
                        <div class="bg-white m-1 row mt-3">
                            <div class="col-lg-12 fw-bold">
                                <%= @sns.message %>
                            </div>
                        </div>
                        <div class="bg-white m-1 row mt-3">
                            <div class="col-lg-12">
                               #<%= @sns.tag %>
                            </div>
                        </div>
                        <div class="bg-white m-1 row mt-3">
                            <p class="fw-bold">着用アイテム</p>
                            <div class="col-lg-4">
                                <% if @item1 %>
                                    <%= link_to "/closet/show/#{@item1.id}" do %>
                                        <%= image_tag @item1.photograph.url, style: "width: 150px; height: 200px; " %>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="col-lg-4">
                                <% if @item2 %>
                                    <%= link_to "/closet/show/#{@item2.id}" do %>
                                        <%= image_tag @item2.photograph.url, style: "width: 150px; height: 200px; " %>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="col-lg-4">
                                <% if @item3 %>
                                    <%= link_to "/closet/show/#{@item3.id}" do %>
                                        <%= image_tag @item3.photograph.url, style: "width: 150px; height: 200px; " %>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="col-lg-4 mt-1">
                                <% if @item4 %>
                                    <%= link_to "/closet/show/#{@item4.id}" do %>
                                        <%= image_tag @item4.photograph.url, style: "width: 150px; height: 200px; " %>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="col-lg-4 mt-1">
                                <% if @item5 %>
                                    <%= link_to "/closet/show/#{@item5.id}" do %>
                                        <%= image_tag @item5.photograph.url, style: "width: 150px; height: 200px; " %>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="col-lg-4 mt-1">
                                <% if @item6 %>
                                    <%= link_to "/closet/show/#{@item6.id}" do %>
                                        <%= image_tag @item6.photograph.url, style: "width: 150px; height: 200px; " %>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                        <div class="bg-white m-2 row mt-2">
                            <div class="col-lg-6">
                                <%= time_ago_in_words(@sns.created_at) %>
                            </div>
                            <div class="col-lg-6 text-end">
                                <% if SocialLike.where(social_id: @sns.id, user_id: current_user.id).exists? %>
                                    <%= button_to "/sns/delete_like/#{@sns.id}", method: :delete, class: "btn btn-primary" do %>
                                        いいね解除
                                    <% end %>
                                 <% else %>
                                    <%= button_to "/sns/create_like/#{@sns.id}", method: :post, class: "btn btn-primary" do %>
                                        いいね
                                    <% end %>
                                <% end %>
                                <%= SocialLike.where(social_id: @sns.id).count %>
                            </div>
                        </div>
                        <div class="bg-white m-2 row mt-2">
                           <%= link_to "編集", "/sns/edit/#{@sns.id}" %>
                        </div>
                        <div class="bg-white m-2 row mt-2">
                           <%= link_to "削除", "/sns/delete/#{@sns.id}",method: :delete %>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>