<div id="sns_posts">
    <%# ! header %>
    <div class="mobile-header">
        <%= render "sns/layouts/mobile_header" %>
    </div>

    <div class="pc-header">
        <%= render "sns/layouts/pc_header" %>
    </div>

    <div class="row g-0">
        <%# ! sidebar %>
        <div class="col-lg-2-5 pc-sidebar">
            <%= render "sns/layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="col-lg-9-5 col-12">
            <div class="show-content">
                <div class="row">
                    <div class="col-lg-6">
                        <%= image_tag @sns.photograph.url, class: "sns-show-image" %>
                    </div>

                    <div class="col-lg-6">
                        <div class="row" style="padding-right: 25px;">
                            <div class="col-lg-2 pt-3">
                                <%= link_to "/profile/show/#{@sns.user.id}" do %>
                                    <% if @sns.user.avatar.url%>
                                        <%= image_tag @sns.user.avatar.url, class: "sns-post-user-avatar" %>
                                    <% else %>
                                        <%= image_tag "/assets/default-avatar.png", class: "sns-post-user-avatar" %>
                                    <% end %>
                                <% end %>
                            </div>

                            <div class="fw-bold col-lg-6 d-flex align-items-center">
                                <%= @sns.user.user_name %>
                            </div>

                            <div class="col-lg-4 text-end" style="margin-top: 20px;">
                                <% if user_signed_in? %>
                                    <% if @sns.user.id == current_user.id %>

                                    <% else %>
                                        <%# ! フォローしているかしていないか判断する %>
                                        <% if UserRelation.where(follow_id: current_user.id, follower_id: @sns.user.id).exists? %>
                                            <%= button_to "フォロー解除", "/profile/follow/#{@sns.user.id}", method: :delete, class: "btn btn-outline-primary" %> 
                                        <% else %>
                                            <%= button_to "フォロー", "/profile/follow/#{@sns.user.id}", method: :post, class: "btn btn-primary" %> 
                                        <% end %>
                                    <% end %>
                                <% else %>
                                    <%= button_to "フォロー", "/profile/follow/#{@sns.user.id}", method: :post, class: "btn btn-primary" %> 
                                <% end %>
                            </div>
                        </div>

                        <div class="mt-3" style="padding-right: 25px;">
                            <%= @sns.message %>
                        </div>

                        <div class="row g-1 mt-3" style="padding-right: 25px;">
                            <div class="col-lg-4">
                                <% if @item1 %>
                                    <%= link_to "/closet/show/#{@item1.id}" do %>
                                        <%= image_tag @item1.photograph.url, class: "sns-show-item-image" %>
                                    <% end %>
                                <% end %>
                            </div>

                            <div class="col-lg-4">
                                <% if @item2 %>
                                    <%= link_to "/closet/show/#{@item2.id}" do %>
                                        <%= image_tag @item2.photograph.url, class: "sns-show-item-image" %>
                                    <% end %>
                                <% end %>
                            </div>

                            <div class="col-lg-4">
                                <% if @item3 %>
                                    <%= link_to "/closet/show/#{@item3.id}" do %>
                                        <%= image_tag @item3.photograph.url, class: "sns-show-item-image" %>
                                    <% end %>
                                <% end %>
                            </div>

                            <div class="col-lg-4 mt-1">
                                <% if @item4 %>
                                    <%= link_to "/closet/show/#{@item4.id}" do %>
                                        <%= image_tag @item4.photograph.url, class: "sns-show-item-image" %>
                                    <% end %>
                                <% end %>
                            </div>

                            <div class="col-lg-4 mt-1">
                                <% if @item5 %>
                                    <%= link_to "/closet/show/#{@item5.id}" do %>
                                        <%= image_tag @item5.photograph.url, class: "sns-show-item-image" %>
                                    <% end %>
                                <% end %>
                            </div>

                            <div class="col-lg-4 mt-1">
                                <% if @item6 %>
                                    <%= link_to "/closet/show/#{@item6.id}" do %>
                                        <%= image_tag @item6.photograph.url, class: "sns-show-item-image" %>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>

                        <div class="row mt-3" style="padding-right: 25px;">
                            <div class="col-lg-6">
                                #<%= @sns.tag %>
                            </div>

                            <div class="col-lg-6 text-end">
                                <%= time_ago_in_words(@sns.created_at) %>前
                            </div>
                        </div>

                        <div class="mt-3" style="padding-right: 25px;">
                            <% if user_signed_in? %>
                                <% if SocialLike.where(social_id: @sns.id, user_id: current_user.id).exists? %>
                                    <%= link_to "/sns/delete_like/#{@sns.id}", method: :delete, class: "btn" do %>
                                        <i class="bi bi-heart-fill fs-4"></i>
                                    <% end %>
                                <% else %>
                                    <%= link_to "/sns/create_like/#{@sns.id}", method: :post, class: "btn" do %>
                                        <i class="bi bi-heart fs-5"></i>
                                    <% end %>
                                <% end %>
                            <% else %>
                                <%= link_to "/sns/create_like/#{@sns.id}", method: :post, class: "btn" do %>
                                    <i class="bi bi-heart fs-5"></i>
                                <% end %>
                            <% end %>

                            <%= SocialLike.where(social_id: @sns.id).count %>人のユーザがいいねしました！
                        </div>
                        
                        <div class="my-3" style="padding-right: 25px;">
                            <% if user_signed_in? %>
                                <% if current_user.id == @sns.user.id  %>
                                    <%= link_to "編集", "/sns/edit/#{@sns.id}", class: "btn btn-outline-primary px-5" %>
                                    <%= link_to "削除", "/sns/delete/#{@sns.id}", method: :delete, class: "btn btn-outline-danger px-5" %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>