<div id="faq_answers">
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="side-content">
            <%= render "layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="main-content">
            <div class="new-edit-content mx-auto">
                <h3 class="fw-bold text-center">質問に回答する</h3>

                <div class="question-area">
                    <div class="d-flex align-items-center user-area">
                        <%= link_to "/profile/show/#{@question.user.id}" do %>
                            <% if @question.user.avatar.url %>
                                <%= image_tag @question.user.avatar.url, class: "question-user-image" %>
                            <% else %>
                                <img src="/assets/user/avatar.png" alt="Generic placeholder image" class="question-user-image">
                            <% end %>
                        <% end %>

                        <div class="user-information">
                            <h5 class="mb-0 fw-bold">
                                <%= truncate(@question.user.user_name, length: 12) %>
                            </h5>
                                                    
                            <small>
                                <%= @question.created_at.strftime('%m月%d日 %H:%M') %>
                            </small>
                        </div>
                    </div>

                    <div class="question-content">
                        <%= simple_format(@question.question) %>
                    </div>

                    <%= image_tag @question.photograph.url(:forced_size), class: "question-image" %>

                    <% if current_user.id == @question.user.id  %>
                        <div class="col-lg-6 col-12 col-md-6">
                            <div class="row">
                                <div class="col-6">
                                    <%= link_to "削除する", "/faq/question/delete/#{@question.id}", method: :delete, class: "btn col-12 delete-btn" %>
                                </div>

                                <div class="col-6">
                                    <%= link_to "更新する", "/faq/question/edit/#{@question.id}", class: "btn col-12 edit-btn" %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>

                <%= form_with(model: @answer, url: "/faq/answer/create/#{@question.id}", local: true) do |f| %>
                    <div class="mb-3">
                        <label class="fw-bold">コーディネート画像を追加</label><br>
                        <button type="button" class="item" data-bs-toggle="modal" data-bs-target="#CoordinateModal">
                            <div id="image-preview" class="preview"></div>
                        </button>

                        <div class="modal fade modal-area modal-dialog-scrollable" id="CoordinateModal" tabindex="-1" aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title fs-6 fw-bold mx-auto" id="exampleModalLabel">回答画像を設定</h6>
                                    </div>

                                    <div class="modal-body">
                                        <div class="coordinate-modal">
                                            <%= f.file_field :photograph, class: "form-control", id: "file-input" %>
                                        </div>
                                    </div>

                                    <div class="modal-footer post-area text-center">
                                        <div class="mx-auto">
                                            <button type="button" class="btn px-3 text-white border" data-bs-dismiss="modal">キャンセル</button>
                                            <button type="button" class="btn px-3 submit-btn" data-bs-dismiss="modal">選択</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <% @answer.errors[:photograph].each do |error| %>
                                <small class="text-danger">回答画像を設定してください。</small>
                            <% end %>
                        </div>
                    </div>

                    <div class="mb-3">
                        <%= f.text_area :answer, class: "form-control", placeholder: "回答内容を入力...", style: "height: 150px;" %>

                        <div>
                            <% @answer.errors[:answer].each do |error| %>
                                <small class="text-danger">回答内容をを入力してください。</small>
                            <% end %>
                        </div>
                    </div>

                    <div class="col-lg-8 col-12 col-md-8 mx-auto" style="margin-top: 100px;">
                        <div class="row">
                            <div class="col-6">
                                <a href="/faq/question/list" class="btn col-12 cancel-btn">キャンセル</a>
                            </div>

                            <div class="col-6">
                                <%= f.submit "投稿する", data: { disable_with: "投稿中..." }, class: "btn col-12 submit-btn" %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<script>
    <%# ! htmlの要素が読み込まれたら処理を開始する %>
    $(document).ready(function() {
        <%# * 処理の目的 => 選択された画像をプレビューする %>
        <%# * 入力 => 選択した画像 %>
        <%# * 加工 => 選択した画像を取得し、プレビューする %>
        <%# * 出力 => プレビュー %>
        const fileInput = document.getElementById('file-input');
        const preview = document.getElementById('image-preview');
        const reader = new FileReader();

        const defaultImage = createPreviewImage("/assets/adds/img_add.png", 'デフォルト画像');
        preview.appendChild(defaultImage);

        fileInput.addEventListener('change', handleFileChange);

        function handleFileChange(event) {
            const file = event.target.files[0];
            reader.onload = function(e) {
                clearPreview();
                const image = createPreviewImage(e.target.result, 'プレビュー画像');
                preview.appendChild(image);
            };
            reader.readAsDataURL(file);
        }

        function createPreviewImage(src, altText) {
            const image = new Image();
            image.src = src;
            image.alt = altText;
            setPreviewStyles(image);
            return image;
        }

        function setPreviewStyles(imageElement) {
            imageElement.classList.add('preview');
            imageElement.style.width = '189px';
            imageElement.style.height = '262px';
            imageElement.style.objectFit = 'cover';
            imageElement.style.borderRadius = '10px';
        }

        function clearPreview() {
            preview.innerHTML = '';
        }
    });
</script>