<div id="auth" class="col-lg-4 col-md-6 col-12 mx-auto mt-5">
    <h2 class="text-center mb-5 fw-bold text-primary">My Closet</h2>

    <%# * サインインフォーム %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class:"needs-validation", :novalidate => true}) do |f|%>

        <%# ? メールアドレス入力エリア %>
        <div class="mt-3 input-group">
            <span class="input-group-text" id="addon-wrapping">
                <i class="bi bi-envelope"></i>
            </span>
            <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control", autofocus: true, autocomplete: "email", required: true %>
            <div class="invalid-feedback">
                メールアドレスを入力して下さい。
            </div>
        </div>

        <%# ? パスワード入力エリア %>
        <div class="mt-3 input-group">
            <span class="input-group-text" id="addon-wrapping">
                <i class="bi bi-key"></i>
            </span>
            <%= f.password_field :password, placeholder: "パスワード", class: "form-control", autocomplete: "current-password", required: true %>
            <div class="invalid-feedback">
                パスワードを入力して下さい。
            </div>
        </div>

        <%# ? 自動ログイン設定エリア %>
        <% if devise_mapping.rememberable? %>
          <div class="mt-3">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "自動ログイン" %>
          </div>
        <% end %>

      <div class="my-3">
        <%= f.submit "サインイン", class: "btn btn-outline-primary col-12"%>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>