<div id="auth">
    <%= render "layouts/error" %>

	<div class="auth-content mx-auto">
		<h2 class="text-center fw-bold">ログイン</h2>

		<%# * サインインフォーム %>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|%>

			<%# ? メールアドレス入力エリア %>
			<div class="mt-3 input-group">
				<%= f.email_field :email, placeholder: "メールアドレス", class: "form-control", autofocus: true, autocomplete: "email" %>
			</div>

			<%# ? パスワード入力エリア %>
			<div class="mt-3 input-group">
				<%= f.password_field :password, placeholder: "パスワード", class: "form-control", autocomplete: "current-password" %>
			</div>

			<%# ? 自動ログイン設定エリア %>
			<% if devise_mapping.rememberable? %>
				<div class="mx-1 mt-3">
					<%= f.check_box :remember_me, class: "form-check-label", style: "transform: scale(1);" %>
					<%= f.label :remember_me, "次回から自動でログインする", class: "form-check-label" %>
				</div>
			<% end %>

			<div class="mx-auto col-10">
				<%= f.submit "ログイン", class: "btn col-12 fw-bold submit-btn"%>
			</div>
		<% end %>
		
		<div class="col-10 mx-auto">
			<%= render "devise/shared/links" %>
		</div>
	</div>
	
	<%= render "layouts/footer" %>
</div>