<div id="sns_form">

    <%# ! header %>
    <%= render "profile/layouts/header" %>

    <div class="row">
        <%# ! sidebar %>
        <div class="col-lg-3">
            <%= render "profile/layouts/sidebar" %>
        </div>

        <%# ! contents %>
        <div class="list_content col-lg-9">
            <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <%= link_to "フォロー中", "/profile/follow_list/#{params[:id]}", class: "nav-link active" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "フォロワー", "/profile/follower_list/#{params[:id]}", class: "nav-link" %>
                    </li>
                </ul>

                <%# * タブエリア %>
                <div class="tab-content">
                    <div id="follow_list" class="tab-pane active">
                        <div class="row col-lg-8 mx-auto mt-3">
                            <% @follow_list.each do |f| %>
                                <%# * そのユーザIDをもとにユーザテーブルからデータを取る %>
                                <% @users.each do |u| %>
                                    <% if u.id == f.follower_id %>
                               
                                        <table class="table align-middle mb-0 bg-white">
                                            <tbody>
                                                <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                    <% if u.avatar.url%>
                                                        <%= image_tag u.avatar.url, style: "width: 50px; height: 50px; object-fit: cover; z-index: 1", class: "avatar img-fluid", size: "100x100" %>
                                                    <% else %>
                                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                                        alt="Generic placeholder image" class="img-fluid img-thumbnail"
                                                        style="width: 50px; z-index: 1">
                                                    <% end %>
                                                    <div class="ms-3">
                                                        <p class="fw-bold mb-1"><%= u.user_name %></p>
                                                        <p class="text-muted mb-0"><%= u.profile %></p>
                                                    </div>
                                                    </div>
                                                </td>

                                                <td class="text-end">
                                                <% if u.id == current_user.id %>
                                                    <%= button_to "プロフィール更新", "/profile/edit/#{u.id}", method: :get, class: "btn btn-primary" %>
                                                <% else %>
                                                    <% if UserRelation.where(follow_id: current_user.id, follower_id: u.id).exists? %>
                                                        <%= button_to "フォロー解除", "/profile/follow/#{u.id}", method: :delete, class: "btn btn-outline-primary" %> 
                                                    <% else %>
                                                        <%= button_to "フォロー", "/profile/follow/#{u.id}", method: :post, class: "btn btn-primary" %> 
                                                    <% end %>
                                                <% end %>
                                                    
                                                </td>
                                                </tr>
                                            
                                            </tbody>
                                            </table>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</div>