<div id="profile_follows">
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="side-content">
            <%= render "layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="main-content">
            <%= image_tag "/assets/user/cover_img.png", class: "profile-cover" %>

            <div class="follow-content mx-auto">
                <div class="tab-menu row">
                    <li class="col-6">
                        <%= link_to "フォロー中", "/follow_list/#{@id}", class: "nav-link fw-bold text-center active" %>
                    </li>

                    <li class="col-6">
                        <%= link_to "フォロワー", "/follower_list/#{@id}", class: "nav-link fw-bold text-center" %>
                    </li>
                </div>

                <div class="tab-area">
                    <% @follow_list.each do |f| %>
                        <%# * そのユーザIDをもとにユーザテーブルからデータを取る %>
                        <% @users.each do |u| %>
                            <% if u.id == f.follower_id %>
                                <table class="table align-middle mb-0 ">
                                    <tbody>
                                        <tr class="user-area">
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <%= link_to "/profile/show/#{u.id}" do %>
                                                        <% if u.avatar.url%>
                                                            <%= image_tag u.avatar.url, class: "avatar" %>
                                                        <% else %>
                                                            <img src="/assets/user/avatar.png"
                                                                alt="Generic placeholder image" class="avatar">
                                                        <% end %>
                                                    <% end %>

                                                    <div>
                                                        <label class="fw-bold"><%= u.user_name %></label>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="text-end">
                                                <% if u.id == current_user.id %>
                                                    <%= button_to "プロフィール更新", "/profile/edit/#{u.id}", method: :get, class: "btn px-4 edit-btn rounded-pill" %>
                                                <% else %>
                                                    <% if UserRelation.where(follow_id: current_user.id, follower_id: u.id).exists? %>
                                                        <%= button_to "フォロー解除", "/profile/follow/#{u.id}", method: :delete, class: "btn px-4 unfollow-btn" %> 
                                                    <% else %>
                                                        <%= button_to "フォローする", "/profile/follow/#{u.id}", method: :post, class: "btn px-4 follow-btn" %> 
                                                    <% end %>
                                                <% end %>
                                            </td>
                                        </tr>                    
                                    </tbody>
                                </table>
                            <% end %>
                        <% end %>
                    <% end %>

                    <div class="page d-flex justify-content-center">
                        <%= paginate @follow_list %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
