<div class="container">
    <%= render "admin/layouts/header" %>

    <div class="row g-1">
        <div class="col-lg-3">
            <%= render "admin/layouts/sidebar" %>
        </div>

        <div class="col-lg-9">
            <%= link_to "お知らせ新規投稿", "/admin/alert/new", class: "fw-bold px-5 my-2 btn btn-primary" %>

            <div class="bg-white h-100">
                <table class="table">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>#</th>
                            <th scope="col">お知らせタイトル</th>
                        </tr>
                    </thead>

                    <% @alert_list.each do |a| %>
                        <tbody>
                            <tr>
                                <td>
                                    <%= a.id %>
                                </td>
                                <td>
                                    <%= link_to "/admin/alert/show/#{a.id}", class: "fw-bold" do %>
                                        <%= a.title %>
                                    <% end %>
                                </td>
                            </tr>
                        </tbody>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
</div>
        

