<div class="container">
	<%= render "admin/layouts/header" %>

    <div class="row g-1">
        <div class="col-lg-3">
            <%= render "admin/layouts/sidebar" %>
        </div>

        <div class="col-lg-9">
            <div class="bg-white h-100">

                <div class="">
                    <%= @alert.title %>
                    <%= @alert.content %>
                </div>

                <%= link_to "編集", "/admin/alert/edit/#{@alert.id}" %>
                <%= link_to "削除", "/admin/alert/delete/#{@alert.id}",method: :delete %>

            </div>
        </div>
    </div>
</div>
        

