<div id="faq_searchs">
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="side-content">
            <%= render "layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="main-content">
            <%= render "layouts/error" %>

            <div class="search_content mx-auto">
                <% if @search_result.count == 0 %>
                    <h4 class="fw-bold text-center">検索結果：</h4>
                    <h4 class="fw-bold text-center">「<%= params[:search] %>」</h4>
                    <p class="text-center fw-bold">（0件）</p>
                    <h5 class="text-center">条件に当てはまる質問が見つかりませんでした。<br>検索条件を変えて検索してみてください。</h5>
                <% else %>
                    <h4 class="fw-bold text-center">検索結果：</h4>
                    <h4 class="fw-bold text-center">「<%= params[:search] %>」</h4>
                    <p class="text-center fw-bold">（<%= @search_result.count%>件）</p>
                    <div class="question-area row g-3">
                        <% @search_result.each do |question| %>
                            <div class="flex">
                                <div class="d-flex">
                                    <div class="left-content">
                                        <%= link_to "/faq/question/show/#{question.id}" do %>
                                            <%= image_tag question.photograph.url(:forced_size) %>
                                        <% end %>
                                    </div>

                                    <div class="right-content">
                                        <div class="d-flex align-items-center user-area">
                                            <%= link_to "/profile/show/#{question.user.id}" do %>
                                                <% if question.user.avatar.url %>
                                                    <%= image_tag question.user.avatar.url, class: "question-user-image" %>
                                                <% else %>
                                                    <img src="/assets/user/avatar.png" alt="Generic placeholder image" class="question-user-image">
                                                <% end %>
                                            <% end %>

                                            <div class="user-information">
                                                <h5 class="mb-0 fw-bold">
                                                    <%= truncate(question.user.user_name, length: 8) %>
                                                </h5>
                                                    
                                                <small>
                                                    <%= question.created_at.strftime('%m月%d日') %>
                                                </small>
                                            </div>
                                        </div>

                                        <div class="question-information">
                                            <%= link_to "/faq/question/show/#{question.id}" do %>
                                                <%= truncate(question.question, length: 20) %>
                                            <% end %>
                                        </div>

                                        <div class="answer-area">
                                            <%= link_to "/faq/question/show/#{question.id}" do %>
                                                <img src="/assets/icons/icn_message_b.png" alt="">
                                            <% end %>

                                            <small class="mt-2">
                                                <%= Answer.where(question_id: question.id).count %>
                                            </small>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        <% end %>

                        <div class="page d-flex justify-content-center">
                            <%= paginate @search_result %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>