<div id="faq_questions">
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="side-content">
            <%= render "layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="main-content" style="margin: 45px 0 150px;">
            <div class="list-content mx-auto">
                <ul class="tab-menu nav" role="tablist">
                    <li class="nav-item">
                        <a href="?tab=all" class="nav-link <%= params[:tab].nil? || params[:tab] == 'all' ? 'active' : '' %>">ALL</a>
                    </li>

                    <li class="nav-item mx-2">
                        <a href="?page=1&tab=men" class="nav-link <%= params[:tab] == 'men' ? 'active' : '' %>">MEN</a>
                    </li>

                    <li class="nav-item"> 
                        <a href="?page=1&tab=women" class="nav-link <%= params[:tab] == 'women' ? 'active' : '' %>">WOMEN</a>
                    </li>
                </ul>

                <div class="tab-content mt-3">
                    <%# ? allエリア %>
                    <div id="all" class="tab-pane active">
                        <div class="question-area">
                            <% @questions_all.each do |question| %>
                                <div class="flex">
                                    <div class="d-flex">
                                        <div class="left-content">
                                            <%= link_to "/faq/question/show/#{question.id}" do %>
                                                <%= image_tag question.photograph.url(:forced_size) %>
                                            <% end %>
                                        </div>

                                        <div class="right-content">
                                            <div class="d-flex align-items-center user-area">
                                                <%= link_to "/profile/show/#{question.user.id}" do %>
                                                    <% if question.user.avatar.url %>
                                                        <%= image_tag question.user.avatar.url, class: "question-user-image" %>
                                                    <% else %>
                                                        <img src="/assets/user/avatar.png" alt="Generic placeholder image" class="question-user-image">
                                                    <% end %>
                                                <% end %>

                                                <div class="user-information">
                                                    <h5 class="mb-0 fw-bold">
                                                        <%= question.user.user_name %>
                                                    </h5>
                                                    
                                                    <small>
                                                        <%= question.created_at.strftime('%m月%d日') %>
                                                    </small>
                                                </div>
                                            </div>

                                            <div class="question-information">
                                                <%= truncate(question.question, length: 44) %>
                                            </div>

                                            <div class="answer-area">
                                                <%= link_to "/faq/question/show/#{question.id}" do %>
                                                    <img src="/assets/icons/icn_message_b.png" alt="">
                                                <% end %>

                                                <small class="mt-2">
                                                    <%= Answer.where(question_id: question.id).count %>
                                                </small>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            <% end %>

                            <div class="page d-flex justify-content-center">
                                <%= paginate @questions_all, param_name: :page_all, params: { tab: "all" } %>
                            </div>
                        </div>
                    </div>

                    <%# ? menエリア %>
                    <div id="men" class="tab-pane">
                        <div class="question-area">
                            <% @questions_men.each do |question| %>
                                <div class="flex">
                                    <div class="d-flex">
                                        <div class="left-content">
                                            <%= link_to "/faq/question/show/#{question.id}" do %>
                                                <%= image_tag question.photograph.url(:forced_size) %>
                                            <% end %>
                                        </div>

                                        <div class="right-content">
                                            <div class="d-flex align-items-center user-area">
                                                <%= link_to "/profile/show/#{question.user.id}" do %>
                                                    <% if question.user.avatar.url %>
                                                        <%= image_tag question.user.avatar.url, class: "question-user-image" %>
                                                    <% else %>
                                                        <img src="/assets/user/avatar.png" alt="Generic placeholder image" class="question-user-image">
                                                    <% end %>
                                                <% end %>

                                                <div class="user-information">
                                                    <h5 class="mb-0 fw-bold">
                                                        <%= question.user.user_name %>
                                                    </h5>
                                                    
                                                    <small>
                                                        <%= question.created_at.strftime('%m月%d日') %>
                                                    </small>
                                                </div>
                                            </div>

                                            <div class="question-information">
                                                <%= truncate(question.question, length: 44) %>
                                            </div>

                                            <div class="answer-area">
                                                <%= link_to "/faq/question/show/#{question.id}" do %>
                                                    <img src="/assets/icons/icn_message_b.png" alt="">
                                                <% end %>

                                                <small class="mt-2">
                                                    <%= Answer.where(question_id: question.id).count %>
                                                </small>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            <% end %>

                            <div class="page d-flex justify-content-center">
                                <%= paginate @questions_men, param_name: :page_men, params: { tab: "men" } %>
                            </div>
                        </div>
                    </div>

                    <%# ? womenエリア %>
                    <div id="women" class="tab-pane">
                        <div class="question-area">
                            <% @questions_women.each do |question| %>
                                <div class="flex">
                                    <div class="d-flex">
                                        <div class="left-content">
                                            <%= link_to "/faq/question/show/#{question.id}" do %>
                                                <%= image_tag question.photograph.url(:forced_size) %>
                                            <% end %>
                                        </div>

                                        <div class="right-content">
                                            <div class="d-flex align-items-center user-area">
                                                <%= link_to "/profile/show/#{question.user.id}" do %>
                                                    <% if question.user.avatar.url %>
                                                        <%= image_tag question.user.avatar.url, class: "question-user-image" %>
                                                    <% else %>
                                                        <img src="/assets/user/avatar.png" alt="Generic placeholder image" class="question-user-image">
                                                    <% end %>
                                                <% end %>

                                                <div class="user-information">
                                                    <h5 class="mb-0 fw-bold">
                                                        <%= question.user.user_name %>
                                                    </h5>
                                                    
                                                    <small>
                                                        <%= question.created_at.strftime('%m月%d日') %>
                                                    </small>
                                                </div>
                                            </div>

                                            <div class="question-information">
                                                <%= truncate(question.question, length: 44) %>
                                            </div>

                                            <div class="answer-area">
                                                <%= link_to "/faq/question/show/#{question.id}" do %>
                                                    <img src="/assets/icons/icn_message_b.png" alt="">
                                                <% end %>

                                                <small class="mt-2">
                                                    <%= Answer.where(question_id: question.id).count %>
                                                </small>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            <% end %>

                            <div class="page d-flex justify-content-center">
                                <%= paginate @questions_women, param_name: :page_women, params: { tab: "women" } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<script>
    <%# ! htmlの要素が読み込まれたら処理を開始する %>
    $(document).ready(function() {
        <%# * 処理の目的 => 特定のタブを選択状態にする %>
        <%# * 入力 => 選択しているタブの情報 %>
        <%# * 加工 => 選択しているタブの情報を取得し、選択状態にする %>
        <%# * 出力 => activeクラス %>
        const urlParams = new URLSearchParams(window.location.search);
        const tabValue = urlParams.get('tab');

        function setActiveTab(tabId) {
            $('.tab-menu .nav-link').removeClass('active');
            $('.tab-content .tab-pane').removeClass('show active');
            $('#' + tabId).addClass('show active');
            $('.tab-menu .nav-link[href*="tab=' + tabId + '"]').addClass('active');
        }

        if (tabValue) {
            const tabId = tabValue.toLowerCase();
            setActiveTab(tabId);
        } else {
            $('.tab-menu .nav-link[href*="?tab=all"]').addClass('active');
            $('.tab-content .tab-pane#all').addClass('show active');
        }

        <%# * 処理の目的 => ページ遷移した際に、タブの位置を保持する %>
        <%# * 入力 => ページ遷移する際に位置しているタブ %>
        <%# * 加工 => ページ遷移する前に位置しているタブを取得し、遷移後、そのタブの位置を保持する %>
        <%# * 出力 => タブの情報 %>
        $(document).on('click', '.tab-menu .nav-link', function(event) {
            event.preventDefault();
            const tabId = $(this).attr('href').split('tab=')[1].toLowerCase();

            if (tabId === 'page') {
                return;
            }

            setActiveTab(tabId);

            const newUrl = window.location.pathname + '?tab=' + tabId;
            window.history.pushState({ path: newUrl }, '', newUrl);
        });
    });
</script>