<div id="faq_questions">
    <%# ! header %>
    <div class="pc-header">
        <%= render "faq/layouts/pc_header" %>
    </div>

    <div class="row g-0">
        <%# ! sidebar %>
        <div class="col-lg-2 pc-sidebar">
            <%= render "faq/layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="list_content col-lg-10 col-12">
            <div class="bg-white h-100">
                移植
            </div>
        </div>
    </div>
</div>


<%# * 以下を修正 %>
<div id="question_list">
    <%# ! header %>
    <%= render "faq/layouts/header" %>
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="col-lg-3">
            <%= render "faq/layouts/sidebar" %>
        </div>

        <%# ! contents %>
        <div class="list_content col-lg-9">
            <% @questions.each do |q| %>
                <div class="bg-white p-3 m-5">
                    <div class="row">
                        <div class="col-lg-2">
                            <%= image_tag q.photograph.url, class: "question_image" %>
                        </div>
                        <div class="col-lg-10">
                            <div class="d-flex m-3">
                                <%= image_tag q.photograph.url, size: "40x40" %>
                                <p class="fw-bold"><%= q.user.user_name %></p>
                            </div>
                            <p class="m-3">
                                <%= q.question %>
                            </p>
                            <p class="m-3">
                                <%= link_to "回答する", "/question/show/#{q.id}" %>
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>