<div id="faq_questions">
    <div class="d-flex">
        <%# ! sidebar %>
        <div class="side-content">
            <%= render "layouts/pc_sidebar" %>
        </div>

        <%# ! contents %>
        <div class="main-content" style="margin-top: 45px; margin-bottom: 150px;">
            <div class="show-content mx-auto">
                <div class="number-of-answer">                         
                    回答数：
                    <small class="m-0">
                        <%= Answer.where(question_id: @question.id).count %>
                    </small>
                    件
                </div>

                <div class="question-area">
                    <div class="d-flex align-items-center user-area">
                        <%= link_to "/profile/show/#{@question.user.id}" do %>
                            <% if @question.user.avatar.url %>
                                <%= image_tag @question.user.avatar.url, class: "question-user-image" %>
                            <% else %>
                                <img src="/assets/user/avatar.png" alt="Generic placeholder image" class="question-user-image">
                            <% end %>
                        <% end %>

                        <div class="user-information">
                            <h5 class="mb-0 fw-bold">
                                <%= @question.user.user_name %>
                            </h5>
                                                    
                            <small>
                                <%= @question.created_at.strftime('%m月%d日 %H:%M') %>
                            </small>
                        </div>
                    </div>

                    <div class="question-content">
                        <%= simple_format(@question.question) %>
                    </div>

                    <%= image_tag @question.photograph.url(:forced_size), class: "question-image" %>

                    <% if current_user.id == @question.user.id  %>
                        <div class="col-lg-6 col-12 col-md-6">
                            <div class="row">
                                <div class="col-6">
                                    <%= link_to "質問を削除", "/faq/question/delete/#{@question.id}", method: :delete, class: "btn col-12 delete-btn" %>
                                </div>

                                <div class="col-6">
                                    <%= link_to "質問を編集", "/faq/question/edit/#{@question.id}", class: "btn col-12 edit-btn" %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>

                <div class="answer-btn mx-auto">
                    <%= link_to "質問に回答する", "/faq/answer/new/#{@question.id}", class: "btn col-12" %>
                </div>

                <% @answers.each do |answer| %>
                    <div class="answer-area">
                        <div class="d-flex align-items-center user-area">
                            <%= link_to "/profile/show/#{answer.user.id}" do %>
                                <% if answer.user.avatar.url %>
                                    <%= image_tag answer.user.avatar.url, class: "question-user-image" %>
                                <% else %>
                                    <img src="/assets/user/avatar.png" alt="Generic placeholder image" class="question-user-image">
                                <% end %>
                            <% end %>

                            <div class="user-information">
                                <h5 class="mb-0 fw-bold">
                                    <%= answer.user.user_name %>
                                </h5>
                                                        
                                <small>
                                    <%= answer.created_at.strftime('%m月%d日 %H:%M') %>
                                </small>
                            </div>
                        </div>

                        <div class="answer-content">                   
                            <%= simple_format(answer.answer) %>
                        </div>

                        <%= image_tag answer.photograph.url(:forced_size), class: "answer-image" %>

                        <% if current_user.id == @question.user.id  %>
                            <div class="col-lg-6 col-12 col-md-6">
                                <div class="row">
                                    <div class="col-6">
                                        <%= link_to "回答を削除", "/faq/answer/delete/#{answer.id}", method: :delete, class: "btn col-12 delete-btn" %>
                                    </div>

                                    <div class="col-6">
                                        <%= link_to "回答を編集", "/faq/edit/edit/#{answer.id}", class: "btn col-12 edit-btn" %>
                                    </div>
                                </div>
                            </div>
                        <% end %>

                        <div class="d-flex align-items-center like-area">
                            <% if AnswerLike.where(user_id: current_user.id, answer_id: answer.id).exists? %>
                                <%= link_to "/faq/create_delete/#{answer.id}", method: :delete do %>
                                    <img src="/assets/icons/icn_heart.png" alt="">
                                <% end %>
                            <% else %>
                                <%= link_to "/faq/create_like/#{answer.id}", method: :post do %>
                                    <img src="/assets/icons/icn_not_heart.png" alt="">
                                <% end %>
                            <% end %>

                            <div class="align-items-center number-of-like">    
                                <%= SocialLike.where(social_id: answer.id).count %>人のユーザがいいねしました！
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>